Repository TaleStation/TaleStation, pull requests merged in 2022-08, with the labels that each got.

#1821 Prodirus is in immense pain: Pain Codeowner
  .github/CODEOWNERS
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_effects.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_implements.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_modifiers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_shock.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_status_effects.dm
Labels: GitHub

#1846 Removes some old player facing references
  jollystation_modules/code/game/objects/unique_examine_items.dm
  jollystation_modules/code/modules/mob/living/simple_animal/friendly/dog.dm
  strings/paperwork.json
Labels: Removal

#1908 [MIRROR] Removes the "proximity crew pinpointer" (the ones parameds spawn with), paramedic PDAs start with the lifeline app instead
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Upstream Code

#1909 [MIRROR] Photocopier paperforms fix
  code/modules/asset_cache/assets/paper.dm
  code/modules/paperwork/stamps.dm
  config/blanks.json
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-void.png
Labels: Upstream Code, Upstream Sprites, Config

#1923 Better Hair Lizards
  jollystation.dme
  jollystation_modules/code/modules/client/preferences/species/lizard.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Quality of Life

#1859 Removes Felinids from the game. Tajarans are now the ultimate cat species. Humans now seen with cat ears and tails. What the hell has gone wrong with this PR.
  code/__DEFINES/DNA.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/modules/admin/create_mob.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  config/game_options.txt
  jollystation.dme
  jollystation_modules/code/__DEFINES/DNA.dm
  jollystation_modules/code/_globalvars/lists/names.dm
  jollystation_modules/code/modules/client/preferences/species/tajaran.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/humans.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/tajaran.dm
  jollystation_modules/code/modules/mob/living/carbon/human/tajaran_organs.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/mutation_reagents.dm
  jollystation_modules/code/modules/reagents/chemistry/recipes/mutation_recipes.dm
  jollystation_modules/code/modules/surgery/bodyparts/species_part/tajaran_bodyparts.dm
  jollystation_modules/code/modules/surgery/organs/body_markings.dm
  jollystation_modules/code/modules/surgery/organs/ears.dm
  jollystation_modules/code/modules/surgery/organs/snouts.dm
  jollystation_modules/code/modules/surgery/organs/tails.dm
  jollystation_modules/icons/mob/species/tajaran/bodyparts.dmi
  jollystation_modules/icons/mob/tajaran_ears.dmi
  jollystation_modules/icons/mob/tajaran_markings.dmi
  jollystation_modules/icons/mob/tajaran_snouts.dmi
  jollystation_modules/icons/mob/tajaran_tail.dmi
  strings/names/taja_female.txt
  strings/names/taja_last.txt
  strings/names/taja_male.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Upstream Code, Sprites, Fix, Feature, Config, Quality of Life

#1955 Catches some missed `module` comments in code
  code/controllers/subsystem/job.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/verbs/suicide.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  jollystation_modules/README.md
Labels: Upstream Code, Code Improvement

#1956 Makes the max age not absurdly insane anymore
  code/__DEFINES/mobs.dm
Labels: Upstream Code, Quality of Life

#1969 Reads over the codebase and fixes errors I find.
  jollystation_modules/code/datums/pain/pain.dm
  jollystation_modules/code/datums/pain/pain_helpers.dm
  jollystation_modules/code/datums/quirks/_quirk_blacklist.dm
  jollystation_modules/code/game/machinery/cryopod.dm
  jollystation_modules/code/game/machinery/fax_machine.dm
  jollystation_modules/code/game/machinery/lightswitch.dm
  jollystation_modules/code/game/machinery/status_display.dm
  jollystation_modules/code/game/machinery/towel_rack.dm
  jollystation_modules/code/game/objects/items/devices/radio/headset.dm
  jollystation_modules/code/game/objects/items/other_loadout_items/loadout_inhand_items.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/crates.dm
  jollystation_modules/code/game/objects/structures/extinguisher.dm
  jollystation_modules/code/game/objects/unique_examine_items.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/clock_cult/items/wraith_specs.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/clock_cult/runes/trap_rune.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_accessories.dm
  jollystation_modules/code/modules/clothing/suits/towels.dm
  jollystation_modules/code/modules/mining/machine_vending.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_implements.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_modifiers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain/pain_shock.dm
  jollystation_modules/code/modules/mob/pixel_shift.dm
  jollystation_modules/code/modules/modular_computers/computers/item/tablet_presets.dm
  jollystation_modules/code/modules/uplink/uplink_devices.dm
  jollystation_modules/code/modules/vending/_vending.dm
Labels: Code Improvement

#1958 Post Tajarans merge cleanup + Species fixes
  .github/CODEOWNERS
  jollystation.dme
  jollystation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/synths.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/tajaran.dm
  jollystation_modules/code/modules/mob/living/carbon/human/tajaran_organs.dm
Labels: Fix, GitHub, Quality of Life

#1966 Fixes cybernetic cat ears
  jollystation_modules/code/modules/research/designs/medical_designs.dm
  jollystation_modules/code/modules/surgery/organs/ears.dm
Labels: Fix

#1967 Fixes Ranged analyzer by removing jolly analyzer sprite
  jollystation.dme
  jollystation_modules/code/game/objects/items/devices/scanners/gas_analyzer.dm
  jollystation_modules/icons/obj/device.dmi
Labels: Sprites, Fix

#1968 deletes a blood decal in the wall??
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit, Fix

#1970 Fixes some job inconsistencies
  jollystation.dme
  jollystation_modules/code/datums/id_trim/jobs.dm
  jollystation_modules/code/game/objects/items/locker_spawners.dm
  jollystation_modules/code/modules/jobs/job_types/assistant.dm
  jollystation_modules/code/modules/jobs/job_types/ordnance_tech.dm
  jollystation_modules/code/modules/jobs/job_types/research_director.dm
  jollystation_modules/code/modules/jobs/job_types/scientist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Balance/Rebalance

#1972 Removes the HoS as a Lawyer's head of staff
  code/__DEFINES/jobs.dm
  jollystation.dme
  jollystation_modules/code/modules/jobs/job_types/lawyer.dm
Labels: Upstream Code, Balance/Rebalance

#2008 Removes jollystation.dme and the Redirector
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/workflows/ci_suite.yml
  SpacemanDMM.toml
  jollystation.dme
  jollystation_modules/README.md
  tgstation.dme
  tools/Redirector/Configurations.dm
  tools/Redirector/Redirect_Tgstation.dmb
  tools/Redirector/Redirect_Tgstation.dme
  tools/Redirector/Redirector.dm
  tools/Redirector/config.txt
  tools/Redirector/skin.dmf
  tools/Redirector/textprocs.dm
  tools/build/build.js
  tools/ci/run_server.sh
  tools/deploy.sh
Labels: GitHub, DME Edit, Tools

#2055 Removes the RimWorld chems
  talestation_modules/code/modules/cargo/packs.dm
  talestation_modules/code/modules/reagents/chemistry/reagents/rim_reagents.dm
  tgstation.dme
Labels: Removal

#2056 Updates contributing to include about removals
  talestation_modules/README.md
Labels: GitHub

#2062 Adds fax machines to Lima and Pubby
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix, Quality of Life

#2065 Some QoL to our fax machines
  talestation_modules/code/game/machinery/fax_machine.dm
  tgui/packages/tgui/interfaces/_FaxMachine.js
Labels: Quality of Life

#2072 [MIRROR] Smol brain forget that bananas have side sprite
  icons/mob/inhands/misc/food_righthand.dmi
Labels: Upstream Sprites

#2073 [MIRROR] Nitrium no longer grants stun immunity
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Upstream Code

#2100 [MDB IGNORE] Makes Lima playable
  _maps/limastation.json
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit, Fix, FUCK

#2084 Ports the flavor text TGUI panel from SkyRat, updating ours off of HTML
  code/__DEFINES/say.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  talestation_modules/code/__DEFINES/spans.dm
  talestation_modules/code/datums/elements/unique_examine.dm
  talestation_modules/code/datums/outfit.dm
  talestation_modules/code/modules/client/preferences/_preferences.dm
  talestation_modules/code/modules/client/preferences/headshot.dm
  talestation_modules/code/modules/client/preferences/multiline_preferences.dm
  talestation_modules/code/modules/client/preferences_savefil.dm
  talestation_modules/code/modules/mob/living/carbon/human/examine_tgui.dm
  talestation_modules/code/modules/mob/living/carbon/human/flavor_text.dm
  talestation_modules/code/modules/mob/living/carbon/human/human.dm
  talestation_modules/code/modules/mob/living/silicon/silicon.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.js
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_multiline_text.tsx
Labels: Upstream Code, Feature, Port, Quality of Life

#2099 pixel shifting but better
  talestation_modules/code/modules/mob/pixel_shift.dm
Labels: Quality of Life

#2146 This PR does not exist
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  talestation_modules/code/modules/jobs/exp_rep.dm
Labels: Upstream Code

#2147 [IDB IGNORE] Resets icons folder
  icons/effects/effects.dmi
  icons/effects/landmarks_static.dmi
  icons/hud/screen_alert.dmi
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/bombs_lefthand.dmi
  icons/mob/inhands/weapons/bombs_righthand.dmi
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/decals.dmi
  icons/obj/doors/shutters_window.dmi
  icons/obj/food/food.dmi
  icons/obj/grenade.dmi
Labels: Upstream Sprites

#2145 Revert "[MIRROR] [MDB IGNORE] Fixes Fucked Job Requirement Displays"
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  talestation_modules/code/modules/jobs/exp_rep.dm
Labels: Upstream Code

#2174 Fixes the loadout's Bomber Jacket's item_path to give the actual bomber jacket
  talestation_modules/code/modules/loadouts/loadout_items/loadout_datum_suits.dm
Labels: Fix, Verified

#2175 Removes the EXP requirement from Station Engineers
  talestation_modules/code/modules/jobs/exp_rep.dm
Labels: Removal, Verified

#2173 Attempt to put the Discord link back on the hub
  code/game/world.dm
Labels: Upstream Code

#2207 [MIRROR] Buffs the chilling effects of void heretic powers, fixes void storm visuals not updating
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/weather/weather_types/void_storm.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/ghoul.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  tgstation.dme
Labels: Upstream Code

#2213 New Tajaran Tail in-hand Sprites
  talestation_modules/code/modules/surgery/organs/tails.dm
  talestation_modules/icons/obj/surgery.dmi
Labels: Sprites

#2219 Fixes automatic shuttle call
  talestation_modules/code/controllers/subsystem/autotransfer.dm
Labels: Fix
