Repository TaleStation/TaleStation, pull requests merged in 2022-11, with the labels that each got.

#3076 Fixes screenshot unit test
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
Labels: Upstream Code, Fix

#3089 Adds modular stuff to the Hub
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
  talestation_modules/code/game/world.dm
  tgstation.dme
Labels: Upstream Code, Config, Quality of Life

#3161 Adds specific labeler
  .github/keylabeler.yml
Labels: GitHub

#3163 [MIRROR] Adds a game option to toggle the MultiZ parallax effect for a player
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_group.dm
  code/modules/client/preferences/multiz_parallax.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/multiz_parallax.tsx
Labels: Upstream Code

#3164 [MIRROR] Fixes the errant line in the template decal
  icons/turf/decals.dmi
Labels: Upstream Sprites

#3199 [MIRROR] Giant Spider action fixes & Action feedback (#70848)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/vote.dm
  code/datums/actions/action.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/innate_action.dm
  code/datums/actions/items/organ_action.dm
  code/datums/actions/items/toggles.dm
  code/datums/actions/items/vortex_recall.dm
  code/datums/components/mind_linker.dm
  code/datums/dash_weapon.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/rune_spawn_action.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/magic/expand_sight.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/clothing/chameleon.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/carbon/alien/adult/caste/drone.dm
  code/modules/mob/living/carbon/alien/adult/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/mob/living/simple_animal/hostile/bosses/paperwizard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mod/mod_actions.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/pointed/swap.dm
  code/modules/spells/spell_types/teleport/teleport.dm
  code/modules/surgery/organs/vocal_cords.dm
  talestation_modules/code/modules/antagonists/advanced_cult/advanced_cult_team.dm
  talestation_modules/code/modules/antagonists/advanced_cult/clock_cult/magic/clock_magic.dm
Labels: Upstream Code

#3307 Slight change to key labeler
  .github/keylabeler.yml
Labels: GitHub

#3354 [MIRROR] Adds Sabrage
  code/__DEFINES/traits.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/vending/games.dm
Labels: Upstream Code, Feature

#3355 [MIRROR] Removes Bowls from garbage spawners because they don't fit in trash bags and I'm SICK of not being able to clean!
  code/game/objects/effects/spawners/random/trash.dm
Labels: Upstream Code, Removal

#3356 [MIRRO] abductors can now use their batons (#71341)
  code/game/objects/items/melee/baton.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
Labels: Upstream Code, Fix

#3357 [MIRROR] Changes check_grep to use ripgrep and reformats/cleans up the check_grep file (#71324)
  .github/workflows/ci_suite.yml
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/reagents/reagent_dispenser.dm
  tools/ci/check_grep.sh
Labels: Upstream Code, Map Edit, GitHub, Tools

#3359 Tiny tweak to labeler
  .github/keylabeler.yml
Labels: GitHub

#3380 Operating Tables should now be visible, again
  talestation_modules/icons/obj/surgery.dmi
Labels: Sprites, Fix

#3378 The PAINful paper: Doctors are now aware of pain, or should be, at least
  talestation_modules/code/medical_module/medical_doctor/equipment.dm
  tgstation.dme
Labels: Quality of Life

#3381 ICON RESET
  code/game/objects/items/storage/belt.dm
  icons/mob/animal.dmi
  icons/mob/cows.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  icons/mob/species/human/cat_features.dmi
  icons/mob/species/lizard/lizard_misc.dmi
  icons/mob/species/lizard/lizard_spines.dmi
  icons/mob/species/lizard/lizard_tails.dmi
  icons/mob/species/monkey/monkey_tail.dmi
  icons/mob/species/mush_cap.dmi
  icons/mob/species/wings.dmi
Labels: Upstream Code, Fix, Upstream Sprites

#3437 NuLizards
  code/modules/client/client_colour.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  talestation_modules/code/__DEFINES/_module_defines.dm
  talestation_modules/code/species_module/lizard/lizard_organs.dm
  talestation_modules/code/species_module/lizard/lizard_quirks.dm
  talestation_modules/icons/obj/surgery.dmi
  tgstation.dme
Labels: Feature, Balance

#3463 Organizes the species module a bit
  .github/CODEOWNERS
  talestation_modules/code/carbon_module/quirks/negative.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/skrell.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/tajaran.dm
  talestation_modules/code/prefs_module/sprite_accessories/hair.dm
  talestation_modules/code/species_module/organs/ears.dm
  talestation_modules/code/species_module/organs/snouts.dm
  talestation_modules/code/species_module/organs/sprite_accessories.dm
  talestation_modules/code/species_module/organs/tails.dm
  talestation_modules/code/species_module/organs/tongue.dm
  talestation_modules/code/species_module/skrell/skrell.dm
  talestation_modules/code/species_module/skrell/skrell_accessories.dm
  talestation_modules/code/species_module/skrell/skrell_bodyparts.dm
  talestation_modules/code/species_module/skrell/skrell_organs.dm
  talestation_modules/code/species_module/skrell/skrell_pref.dm
  talestation_modules/code/species_module/skrell/skrell_quirks.dm
  talestation_modules/code/species_module/tajaran/tajaran.dm
  talestation_modules/code/species_module/tajaran/tajaran_accessories.dm
  talestation_modules/code/species_module/tajaran/tajaran_bodyparts.dm
  talestation_modules/code/species_module/tajaran/tajaran_markings.dm
  talestation_modules/code/species_module/tajaran/tajaran_names.dm
  talestation_modules/code/species_module/tajaran/tajaran_organs.dm
  talestation_modules/code/species_module/tajaran/tajaran_pref.dm
  talestation_modules/code/species_module/tajaran/tajaran_quirks.dm
  tgstation.dme
Labels: GitHub, Code Improvement
