Repository TaleStation/TaleStation, pull requests merged in 2022-06, with the labels that each got.

#1096 Mirrors #67053
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/ties.json
  code/datums/greyscale/json_configs/ties_worn.json
  code/game/objects/effects/spawners/costume.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/admin/topic.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/suits.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/mafia/outfits.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
Labels: Upstream Code

#636 Fix uplinks
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/device_tools.dm
  code/modules/uplink/uplink_items/implant.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/nukeops.dm
  code/modules/uplink/uplink_items/stealthy.dm
  tgui/packages/tgui/interfaces/Uplink.js
Labels: Upstream Code, Bounty, Fix

#1139 LimaStation Ordnance Remap
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit

#1204 Rules for porting specific sprites out of our codebase
  jollystation_modules/icons/README.md
Labels: Sprites

#1207 New tail icon sprites
  jollystation_modules/code/modules/surgery/organs/tails.dm
  jollystation_modules/icons/obj/surgery.dmi
Labels: Sprites

#1418 Skrell unit test fix
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
Labels: Upstream Code, Fix
