Repository TaleStation/TaleStation, pull requests merged in 2022-07, with the labels that each got.

#1441 Mirror things
  code/modules/clothing/masks/gas_filter.dm
  tgui/packages/tgui/interfaces/Wires.tsx
Labels: Upstream Code

#1205 JollyStation Job Content Expansion: XenoBotany
  code/__DEFINES/access.dm
  code/controllers/subsystem/id_access.dm
  code/game/objects/items/storage/bags.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seed_extractor.dm
  jollystation.dme
  jollystation_modules/code/datums/id_trim/jobs.dm
  jollystation_modules/code/game/objects/circuitboards/machine_circuitboards.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/game/objects/items/locker_spawners.dm
  jollystation_modules/code/game/objects/items/storage/bags.dm
  jollystation_modules/code/game/objects/items/storage/boxes.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/scientist.dm
  jollystation_modules/code/modules/hydroponics/hydroitemdefines.dm
  jollystation_modules/code/modules/hydroponics/hydroponics.dm
  jollystation_modules/code/modules/hydroponics/seed_extractor.dm
  jollystation_modules/code/modules/hydroponics/seeds.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
  tgui/packages/tgui/interfaces/XenoAnalyzer.js
Labels: Upstream Code, Feature, Balance/Rebalance, Quality of Life

#1556 Missed-baseball
  _maps/templates/holodeck_baseball.dmm
  code/controllers/subsystem/throwing.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/modules/holodeck/holodeck_map_templates.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items_and_weapons.dmi
  sound/items/baseballhit.ogg
Labels: Upstream Code, Map Edit, Sound, Upstream Sprites

#1557 Map Reset 7/13
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  strings/modular_maps/Tramstation.toml
Labels: Map Edit, Map Reset

#1574 Tape gags
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/config_types/tape_piece_spikes_worn.json
  code/datums/greyscale/json_configs/tape.json
  code/datums/greyscale/json_configs/tape_piece.json
  code/datums/greyscale/json_configs/tape_piece_spikes.json
  code/datums/greyscale/json_configs/tape_piece_spikes_worn.json
  code/datums/greyscale/json_configs/tape_piece_worn.json
  code/datums/greyscale/json_configs/tape_spikes.json
  code/game/objects/items/stacks/tape.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/muzzle.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items/device_tools.dm
  icons/obj/tapes.dmi
  sound/items/duct_tape_rip.ogg
  sound/items/duct_tape_snap.ogg
Labels: Upstream Code, Sound, Upstream Sprites

#1654 [MIRROR] Ambience tweaks (#68264)
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/game/area/areas/station.dm
Labels: Upstream Code

#1659 Revert "[MIRROR] [MDB IGNORE] Add myself to codeowners for logging helpers"
  .github/CODEOWNERS
Labels: GitHub

#1655 Unfucks Linters
  code/datums/id_trim/families.dm
  code/modules/antagonists/gang/gang.dm
Labels: Upstream Code, Fix

#1660 Fixes merge header in `areas.dm`
  code/game/area/areas.dm
Labels: Upstream Code, Fix

#1661 Reverts the Floor Aesthetics
  jollystation.dme
  jollystation_modules/code/game/objects/items/stacks/tiles/tile_iron.dm
  jollystation_modules/code/game/turfs/open/floor.dm
  jollystation_modules/icons/obj/floors.dmi
Labels: Sprites, Removal

#1662 Skrell Unit Test Fix (again)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
Labels: Upstream Code, Fix

#1664 Repaths the `bridge_officers_office` to no longer be subtyped of the dets office
  _maps/map_files/JollyStation_Map_Parts/specific_map_parts.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  jollystation_modules/code/game/area/station.dm
  jollystation_modules/code/modules/events/solar_flare.dm
  tools/UpdatePaths/Scripts_JollyStation/1664_TurfUpdate2.txt
  tools/UpdatePaths/Scripts_JollyStation/672_Mirror.txt
Labels: Map Edit, Tools, Code Improvement

#1677 [MIRROR] Admin lua scripting (#65635)
  .github/workflows/ci_suite.yml
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  auxlua.dll
  code/__DEFINES/admin.dm
  code/__DEFINES/spaceman_dmm.dm
  code/__HELPERS/_auxtools_api.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/auxtools.dm
  code/__HELPERS/logging/debug.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/lua.dm
  code/controllers/subsystem/lua.dm
  code/datums/callback.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/lua/README.md
  code/modules/admin/verbs/lua/_hooks.dm
  code/modules/admin/verbs/lua/_wrappers.dm
  code/modules/admin/verbs/lua/helpers.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  code/modules/admin/view_variables/modify_variables.dm
  config/config.txt
  config/lua.txt
  dependencies.sh
  jollystation.dme
  lua/SS13.lua
  tgstation.dme
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/LuaEditor/CallModal.js
  tgui/packages/tgui/interfaces/LuaEditor/ChunkViewModal.js
  tgui/packages/tgui/interfaces/LuaEditor/ListMapper.js
  tgui/packages/tgui/interfaces/LuaEditor/Log.js
  tgui/packages/tgui/interfaces/LuaEditor/StateSelectModal.js
  tgui/packages/tgui/interfaces/LuaEditor/TaskManager.js
  tgui/packages/tgui/interfaces/LuaEditor/index.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/main.scss
  tgui/yarn.lock
  tools/ci/install_auxlua.sh
Labels: Upstream Code, GitHub, Config, DME Edit, Tools

#1683 Updates most of the digi sprites, ports the updated versions from SkyRat + Digi fix from Pariah
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  jollystation_modules/code/datums/greyscale/json_configs/greyscale_configs.dm
  jollystation_modules/code/modules/clothing/digi_clothing.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
  jollystation_modules/icons/mob/clothing/suit/digi_suit.dmi
  jollystation_modules/icons/mob/clothing/under/digi_under.dmi
Labels: Upstream Code, Sprites, Fix, Port

#1739 Screenshot Unit Test Fix
  code/modules/unit_tests/screenshots/screenshot_antag_icons_opportunist.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_thief.png
Labels: Upstream Code, Fix

#1812 cursed manual mirror of tgstation pull 68382
  code/__DEFINES/cooldowns.dm
  code/datums/actions/action.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/mobs/blood_warp.dm
  code/datums/actions/mobs/charge.dm
  code/datums/actions/mobs/dash.dm
  code/datums/actions/mobs/meteors.dm
  code/datums/actions/mobs/mobcooldown.dm
  code/datums/actions/mobs/projectileattack.dm
  code/datums/actions/mobs/sequences/dash_attack.dm
  code/datums/actions/mobs/sequences/projectile.dm
  code/datums/actions/mobs/transform_weapon.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  jollystation.dme
  tgstation.dme
Labels: FUCK

#1785 Engineering + Atmos Tech EXP req tweaks
  jollystation_modules/code/modules/jobs/exp_rep.dm
Labels: Balance/Rebalance
