Repository TaleStation/TaleStation, pull requests merged in 2022-12, with the labels that each got.

#3492 Icon Reset
  icons/turf/floors.dmi
Labels: Icon Reset

#3493 [MIRROR] Tram Malfunction successfully announces 'successfully' (#71510)
  code/modules/events/tram_malfunction.dm
Labels: Grammar and Formatting, Upstream Mirror

#3494 [MIRROR] Removes message admins for tram malfunction failing to run (#71503)
  code/modules/events/tram_malfunction.dm
Labels: Administration, Upstream Mirror

#3498 Minor clean up to some modular comments and others
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
  config/config.txt
  talestation_modules/code/aesthetics_module/conjoined_computers/_computer.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: Config

#3501 I forgot a file
  code/game/machinery/computer/medical.dm
Labels: Code Improvement

#3505 Repathes the AP/BO stamps because I was a certified idiot when I coded them
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  talestation_modules/code/aesthetics_module/icon_overrides/items/bureacuracy.dm
  talestation_modules/code/jobs_module/closets/secure/asset_protection.dm
  talestation_modules/code/jobs_module/closets/secure/bridge_officer.dm
Labels: Map Edit, Code Improvement

#3520 Bandaid fix for missing command intercom sprites
  talestation_modules/code/aesthetics_module/icon_overrides/items/misc.dm
Labels: Fix

#3504 Some Pubby QoL
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Quality of Life

#3532 Removes some old code
  talestation_modules/code/hydroponics_module/defines/hydroponics.dm
Labels: Removal

#3533 Cleans up the aesthetics module a bit
  talestation_modules/code/aesthetics_module/doors/airlock_main.dm
  talestation_modules/code/aesthetics_module/doors/airlock_overrides.dm
  talestation_modules/code/aesthetics_module/general_overrides/lightswitch.dm
  talestation_modules/code/aesthetics_module/icon_overrides/items/misc.dm
  tgstation.dme
Labels: Code Improvement, Quality of Life

#3534 Cleans up the carbon module
  talestation_modules/code/carbon_module/mood_events/reagent_mood_events.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/android.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/felinid.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/flypeople.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/lizardpeople.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/mothmen.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/plasmamen.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/podpeople.dm
  talestation_modules/code/carbon_module/say_sounds/carbon_species/skeletons.dm
  talestation_modules/code/pain_module/pain_species.dm
  talestation_modules/code/species_module/human/human.dm
  talestation_modules/code/species_module/human/human_quirks.dm
  talestation_modules/code/species_module/jelly_people/jelly.dm
  talestation_modules/code/species_module/jelly_people/jelly_quirks.dm
  talestation_modules/code/species_module/lizard/lizard.dm
  talestation_modules/code/species_module/lizard/lizard_prefs.dm
  talestation_modules/code/species_module/organs/tails.dm
  talestation_modules/code/species_module/pod_people/pod_prefs.dm
  talestation_modules/code/species_module/pod_people/pod_quirks.dm
  tgstation.dme
Labels: Code Improvement

#3536 More unused code removal
  talestation_modules/code/chemistry_module/modifiers/speed.dm
Labels: Removal

#3537 Changes the names to be improper of a few items
  talestation_modules/code/clothing_module/digi_clothing.dm
  talestation_modules/code/clothing_module/neck/coconut_bra.dm
  talestation_modules/code/clothing_module/suits/duck_tube.dm
  talestation_modules/code/clothing_module/suits/grass_skirt.dm
Labels: Grammar and Formatting

#3693 Fixes hair lizards
  tgstation.dme
Labels: Fix

#3694 [MANUAL MIRROR] Mirrors Flaky tests
  .github/workflows/rerun_flaky_tests.yml
  tools/pull_request_hooks/rerunFlakyTests.js
  tools/pull_request_hooks/rerunFlakyTests.test.js
  tools/pull_request_hooks/tests/flakyTestPayloads/chat_client.txt
  tools/pull_request_hooks/tests/flakyTestPayloads/monkey_business.txt
  tools/pull_request_hooks/tests/flakyTestPayloads/multiple_failures.txt
  tools/pull_request_hooks/tests/flakyTestPayloads/shapeshift.txt
Labels: GitHub, Tools

#3695 [MANUAL MIRROR] Mining orders can no longer error and don't say they charge you (#71676)
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs/_packs.dm
  code/modules/shuttle/supply.dm
Labels: Fix, Quality of Life

#3696 [MANUAL MIRROR] Coupons now fit in wallets (#71876)
  code/game/objects/items/storage/wallets.dm
Labels: Quality of Life

#3698 Fixes flavor text dummy
  talestation_modules/code/flavor_module/examine_tgui.dm
Labels: Fix

#3699 Runs some updatepaths on our maps
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#3702 Cleans up the jobs module
  talestation_modules/code/fluff_module/closets/secure/asset_protection.dm
  talestation_modules/code/fluff_module/closets/secure/bridge_officer.dm
  talestation_modules/code/fluff_module/closets/secure/quartermaster.dm
  talestation_modules/code/fluff_module/closets/secure/scientist.dm
  talestation_modules/code/fluff_module/garment.dm
  talestation_modules/code/jobs_module/_job.dm
  talestation_modules/code/jobs_module/antagonist_jobs/antag_trim.dm
  talestation_modules/code/jobs_module/asset_protection/ap_define.dm
  talestation_modules/code/jobs_module/asset_protection/ap_trim.dm
  talestation_modules/code/jobs_module/bridge_officer/bo_define.dm
  talestation_modules/code/jobs_module/bridge_officer/bo_trim.dm
  talestation_modules/code/jobs_module/encryptionkey.dm
  talestation_modules/code/jobs_module/headset.dm
  talestation_modules/code/jobs_module/id_trim/jobs.dm
  talestation_modules/code/jobs_module/job_types/antagonists/infiltrator.dm
  talestation_modules/code/jobs_module/locker_spawners.dm
  talestation_modules/code/jobs_module/research_director/rd_heirloom.dm
  talestation_modules/code/jobs_module/research_director/rd_trim.dm
  talestation_modules/code/jobs_module/scientist/scientist_heirloom.dm
  talestation_modules/code/jobs_module/scientist/scientist_trim.dm
  talestation_modules/code/jobs_module/tablet_computers/tablet_presets.dm
  talestation_modules/code/jobs_module/xenobiologist/xb_define.dm
  talestation_modules/code/jobs_module/xenobiologist/xb_trim.dm
  tgstation.dme
Labels: Fix, Code Improvement

#3704 More species cleanup + tweaks
  talestation_modules/code/carbon_module/quirks/_quirk_blacklist.dm
  talestation_modules/code/species_module/jelly_people/jelly.dm
  talestation_modules/code/species_module/lizard/lizard_prefs.dm
  talestation_modules/code/species_module/lizard/lizard_quirks.dm
  talestation_modules/code/species_module/pod_people/pod_prefs.dm
  talestation_modules/code/species_module/quirks/ethereal_quirks.dm
  talestation_modules/code/species_module/quirks/moth_quirks.dm
  talestation_modules/code/species_module/quirks/plasma_men_quirks.dm
  talestation_modules/code/species_module/tajaran/tajaran.dm
  talestation_modules/code/species_module/tajaran/tajaran_quirks.dm
  tgstation.dme
Labels: Fix, Feature, Code Improvement

#3707 Fixes goliath hood icon
  talestation_modules/code/clothing_module/suits/loadout_suits.dm
Labels: Fix, Good First PR

#3766 Fixes our modular quirk blacklist
  talestation_modules/code/carbon_module/quirks/_quirk_blacklist.dm
Labels: Fix

#3736 QoL to Loadouts + General expansion
  talestation_modules/code/__DEFINES/_module_defines.dm
  talestation_modules/code/clothing_module/neck/ties.dm
  talestation_modules/code/loadouts_module/README.md
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_accessory.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_belts.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_costumes.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_ears.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_formal_under.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_glasses.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_gloves.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_heads.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_inhands.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_masks.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_misc_under.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_neck.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_pocket.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_shoes.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_suits.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_under.dm
  talestation_modules/code/loadouts_module/loadout_ui/loadout_manager.dm
  talestation_modules/code/prefs_module/loadout_preference.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: Fix, Quality of Life

#3794 [PROJECT] Establishing this branch, as well as gutting some of the antagonist module
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  talestation_modules/code/antagonist_module/advanced_heretic/advanced_heretic.dm
  talestation_modules/code/antagonist_module/advanced_heretic/eldritch_knowledge.dm
  talestation_modules/code/antagonist_module/advanced_heretic/heretic_knowledge.dm
  talestation_modules/code/antagonist_module/advanced_ling/advanced_ling.dm
  talestation_modules/code/antagonist_module/advanced_ling/changeling_abilities.dm
  talestation_modules/code/antagonist_module/advanced_ling/changeling_datums.dm
  talestation_modules/code/antagonist_module/advanced_ling/changeling_hivemind.dm
  talestation_modules/code/antagonist_module/advanced_ling/changeling_rebalancing.dm
  talestation_modules/code/antagonist_module/advanced_ling/changeling_stings.dm
  talestation_modules/code/antagonist_module/advanced_ling/neutered_ling.dm
  talestation_modules/code/antagonist_module/advanced_traitor/advanced_malf.dm
  talestation_modules/code/antagonist_module/advanced_traitor/advanced_traitor.dm
  talestation_modules/code/antagonist_module/infiltrator/advanced_infiltrator.dm
  talestation_modules/code/antagonist_module/infiltrator/infiltrator.dm
  tgstation.dme
Labels: Archive Required, Project Branch

#3820 [MDB IGNOIRE] LimaStation fixes and some other QoL shit (I use these words a lot)
  _maps/map_files/LimaStation/LimaStation.dmm
  talestation_modules/code/mapping_module/area/station.dm
  talestation_modules/icons/turf/areas.dmi
  talestation_modules/icons/turf/areas_station.dmi
Labels: Map Edit, Fix

#3793 Backports Loadouts QoL/Refactor, whatever the fuck we wanna call it
  code/modules/jobs/job_types/_job.dm
  talestation_modules/code/__DEFINES/_module_defines.dm
  talestation_modules/code/loadouts_module/loadout_items/_loadout_datum.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_accessory.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_misc_under.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_neck.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_pocket.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_shoes.dm
  talestation_modules/code/loadouts_module/loadout_items/loadout_datum_under.dm
  talestation_modules/code/loadouts_module/loadout_ui/loadout_manager.dm
  talestation_modules/code/loadouts_module/loadout_ui/loadout_outfit_helpers.dm
  talestation_modules/code/prefs_module/loadout_preference.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/_LoadoutManager.js
Labels: Code Improvement, Refactor
