Repository TaleStation/TaleStation, pull requests merged in 2022-05, with the labels that each got.

#607 More GitHub stuff
  .github/labeler.yml
  .github/workflows/stale.yml
  README.md
  jollystation.dme
  jollystation_modules/README.md
Labels: GitHub

#608 [FUCK] Enables cryopods, again
  jollystation.dme
Labels: Fix

#609 [MDB IGNORE] Updates Pubby and Lima with some new doors
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  jollystation_modules/code/game/machinery/doors/airlock.dm
Labels: Map Edit, Fix, Feature

#610 Fixes false walls
  jollystation.dme
  jollystation_modules/code/game/objects/structures/false_walls.dm
Labels: Fix

#611 Byond Hub desc fix
  code/game/world.dm
Labels: Fix

#614 Ports conjoined computers from SkyRat
  _maps/map_files/LimaStation/LimaStation.dmm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/buildandrepair.dm
  jollystation.dme
  jollystation_modules/code/game/machinery/computer/_computer.dm
  jollystation_modules/code/game/machinery/computer/arcade/arcade.dm
  jollystation_modules/code/game/machinery/computer/camera.dm
  jollystation_modules/code/game/machinery/computer/medical.dm
  jollystation_modules/code/game/machinery/computer/pod.dm
  jollystation_modules/code/game/machinery/computer/security.dm
  jollystation_modules/code/game/machinery/slotmachine.dm
  jollystation_modules/code/modules/antagonists/abductor/machinery/camera.dm
  jollystation_modules/code/modules/library/lib_machines.dm
  jollystation_modules/code/modules/mining/aux_base.dm
  jollystation_modules/code/modules/reagents/chemistry/machinery/pandemic.dm
  jollystation_modules/code/modules/shuttle/emergency.dm
  jollystation_modules/code/modules/shuttle/syndicate.dm
  jollystation_modules/icons/obj/computer.dmi
Labels: Map Edit, Sprites, Feature, Port

#616 Mirror 66383
  code/game/objects/items/granters.dm
  code/game/objects/items/storage/book.dm
  code/modules/library/book.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/paper.dm
Labels: Upstream Code

#622 Pubby Bridge Access Fix
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#635 removes 7 instances of copy pasted code
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Removal

#643 Removes the NERVA & Berry Physics space ruins
  _maps/RandomRuins/SpaceRuins/jolly_berry.dmm
  _maps/RandomRuins/SpaceRuins/jolly_nerva.dmm
  config/spaceruinblacklist.txt
  jollystation_modules/code/datums/ruins/space.dm
  jollystation_modules/code/game/area/space_station_13_areas.dm
Labels: Map Edit, Removal, Config

#642 Removes pilk and pegnog
  jollystation_modules/code/datums/mood_events/reagent_mood_events.dm
  jollystation_modules/code/modules/food_and_drinks/recipes/drinks_recipes.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Removal

#644 Removes the merge driver
  _merge_driver.bash
Labels: Removal

#819 [MDB IGNORE] Missed Mirror 66864
  .github/workflows/ci_suite.yml
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__HELPERS/_logging.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mapping.dm
  code/modules/unit_tests/unit_test.dm
  tools/ci/run_server.sh
  tools/validate_dme.py
Labels: Upstream Code, Map Edit, GitHub, Tools

#954 Map Reset 5/23
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Map Reset

#956 Updates our modular console dmi
  jollystation_modules/icons/obj/computer.dmi
Labels: Sprites

#957 Port-A-Fix (Door fixes)
  jollystation_modules/code/game/machinery/doors/airlock.dm
Labels: Fix, Port

#993 replace icon dingsbooms
  icons/ui_icons/common/tg_32.png
Labels: Upstream Sprites

#1022 [FUCK] Mirrors 67432
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_2.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_3.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_4.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_2.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_3.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_4.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/radioroom_1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/radioroom_2.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/radioroom_3.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/solars_1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/solars_2.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/spinwardsmoothies.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/CTF/cruiser.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/JollyStation_Map_Parts/specific_map_parts.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_engine_east_1.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/templates/heretic_sacrifice_template.dmm
  code/game/area/areas/misc.dm
  code/world.dm
  tools/UpdatePaths/misc_space_fix.txt
  tools/UpdatePaths/turf_updates_2.txt
Labels: Upstream Code, Map Edit, Tools

#1082 Map Reset 5/31
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_pizza.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_2.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_3.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_feasible.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/assault_pod_default.dmm
  _maps/shuttles/emergency_cramped.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/ferry_meat.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/starfury_fighter1.dmm
  _maps/shuttles/starfury_fighter2.dmm
  _maps/shuttles/starfury_fighter3.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/templates/shelter_3.dmm
Labels: Map Edit, Map Reset

#1083 Light switch sprite fix
  jollystation_modules/code/game/machinery/lightswitch.dm
Labels: Fix

#1084 Re-Adds flora to Lima
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit, Fix
