Repository TaleStation/TaleStation, pull requests merged in 2022-04, with the labels that each got.

#87 Removes Reploids
  code/__DEFINES/is_helpers.dm
  config/game_options.txt
  jollystation.dme
  jollystation_modules/code/__DEFINES/DNA.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/reploid.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/mutation_reagents.dm
  jollystation_modules/code/modules/reagents/chemistry/recipes/mutation_recipes.dm
Labels: Removal

#113 Deletes the unused PR Mirror bot file
  jollystation_modules/tools/merge-upstream-pull-request.sh
Labels: GitHub, Removal

#116 Updates some of the contributing docs
  .github/workflows/stale.yml
  jollystation_modules/README.md
Labels: GitHub

#238 Resets the round timer
  code/game/world.dm
Labels: Fix

#284 [BOUNTY] [FEATURE] Item Dispenser Resprite + Radial Menu Addition
  goon/icons/obj/itemdispenser.dmi
  jollystation_modules/code/game/objects/structures/item_dispensers.dm
  jollystation_modules/icons/obj/itemdispenser.dmi
Labels: Sprite, Bounty, Feature

#271 Lets Asset Protection and Bridge Officer be selectable again
  code/__DEFINES/access.dm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/id_access.dm
  code/game/machinery/computer/crew.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  jollystation_modules/code/__DEFINES/jobs.dm
  jollystation_modules/code/datums/id_trim/jobs.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/asset_protection.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/modules/clothing/under/jobs/rnd.dm
  jollystation_modules/code/modules/clothing/under/jobs/security.dm
  jollystation_modules/code/modules/jobs/job_types/asset_protection.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/ordnance_tech.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/JobsPage.tsx
Labels: Fix

#305 [MDB IGNORE] Attempt 1 to Bring Lima and Pubby up to Code
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#325 Job EXP requirements tweak
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  jollystation_modules/code/modules/jobs/job_types/asset_protection.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/ordnance_tech.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Adjustment

#353 Ports Make Changelogs from Bee
  .github/workflows/make_changelogs.yml
Labels: GitHub, Port

#357 Ports missing Make CL from Bee
  tools/changelog/generate_cl.py
  tools/changelog/makeChangelog.bat
  tools/changelog/requirements.txt
  tools/changelog/ss13_genchangelog.py
  tools/changelog/tags.yml
Labels: GitHub, Port

#371 Fixes QMs job EXP req, also adds module comments
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
Labels: Fix

#418 I HATE MIRRORS
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Upstream

#411 New fax machine sprite
  jollystation_modules/icons/obj/machines/fax.dmi
Labels: Sprite

#495 [FUCK] Fixes Lima
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Fix

#536 Another Lima + Pubby fix
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix

#544 Updates Pubby + Codeowners update
  .github/CODEOWNERS
  _maps/map_files/JollyStation_Map_Parts/specific_map_parts.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Adjustment

#545 Nukes /goon/ and deletes the merge head from contributing.md
  .github/CONTRIBUTING.md
  goon/sound/machinery/FireAlarm.ogg
Labels: GitHub, Removal

#546 [MDB IGNORE] Modernizes Lima
  _maps/map_files/LimaStation/LimaStation.dmm
  jollystation.dme
  jollystation_modules/code/modules/mapping/access_helpers.dm
Labels: Map Edit, Fix, Feature

#565 [FUCK] Mirrors a change that didn't mirror, fixes interactions
  code/game/machinery/_machinery.dm
Labels: Fix

#567 Adds the Asset Protection and Bridge Officers stamps
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/asset_cache/assets/paper.dm
  jollystation.dme
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/asset_protection.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/modules/paperwork/stamps.dm
  jollystation_modules/icons/obj/bureaucracy.dmi
  jollystation_modules/icons/stamp_icons/large_stamp-ap.png
  jollystation_modules/icons/stamp_icons/large_stamp-bo.png
Labels: Sprite, Feature

#557 Reimplements/Ports Cryopods
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/controllers/subsystem/job.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/announcement_system.dm
  code/modules/client/client_defines.dm
  jollystation.dme
  jollystation_modules/code/game/area/space_station_13_areas.dm
  jollystation_modules/code/game/machinery/cryopod.dm
  jollystation_modules/icons/obj/computer.dmi
  jollystation_modules/icons/obj/machines/cryopod.dmi
  tgui/packages/tgui/interfaces/CryopodConsole.js
Labels: Map Edit, Feature, Merge Conflict, Port

#569 Ports labeler action from ShipTest
  .github/labeler.yml
  .github/workflows/conflicts.yml
  .github/workflows/labeler.yml
Labels: Port
