Repository TaleStation/TaleStation, pull requests merged in 2022-09, with the labels that each got.

#2362 adds 4 different TG PRs
  code/__DEFINES/antagonists.dm
  code/__DEFINES/sight.dm
  code/controllers/subsystem/ban_cache.dm
  code/datums/elements/haunted.dm
  code/game/machinery/gulag_teleporter.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/antagonists/revenant/haunted_item.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/spells/spell_types/aoe_spell/_aoe_spell.dm
  code/modules/spells/spell_types/aoe_spell/magic_missile.dm
  code/modules/surgery/tools.dm
  tgstation.dme
Labels: Upstream Code

#2402 Mirrors missed mirrrors
  code/datums/ruins/space.dm
  code/game/area/areas/station.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/events/_event.dm
  code/modules/events/pirates.dm
  code/modules/power/gravitygenerator.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Upstream Code

#2403 [MDB IGNORE] Brings maps 1:1 with TG
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_dutchman.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/shuttles/whiteship_kilo.dmm
Labels: Map Edit, Map Reset

#2404 Fixes window smoothing
  talestation_modules/code/game/objects/structures/window.dm
Labels: Fix

#2454 Makes me the XenoBotany codeowner
  .github/CODEOWNERS
Labels: GitHub

#2455 Cryopod Console updates + Adds Cryopods to Pubby
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  talestation_modules/code/game/machinery/cryopod.dm
  talestation_modules/icons/obj/computer.dmi
Labels: Map Edit, Sprites, Code Improvement, Quality of Life

#2457 Fixes arrival shuttles on Pubby and Lima
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#2458 Removes Ordnance Technician
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/game/machinery/computer/crew.dm
  config/jobs.txt
  talestation_modules/code/datums/id_trim/jobs.dm
  talestation_modules/code/game/objects/effects/landmarks.dm
  talestation_modules/code/modules/clothing/suits/labcoat.dm
  talestation_modules/code/modules/clothing/under/jobs/rnd.dm
  talestation_modules/code/modules/jobs/job_types/ordnance_tech.dm
  talestation_modules/code/modules/modular_computers/computers/item/tablet_presets.dm
  tgstation.dme
Labels: Upstream Code, Map Edit, Removal, Config

#2533 Cryotubes feat. Lima and Pubby
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#2591 Ports Min Flavor Text Requirement
  code/__DEFINES/hud.dm
  code/_onclick/hud/new_player.dm
Labels: Upstream Code, Port, Quality of Life

#2655 Fixes airlocks probably
  code/game/machinery/doors/airlock.dm
  talestation_modules/code/game/machinery/doors/airlock.dm
Labels: Upstream Code, Fix
