Repository TaleStation/TaleStation, pull requests merged in 2023-08, with the labels that each got.

#7110 TGS will now alert if the SM delaminates
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  config/talestation_config.txt
  talestation_modules/code/config_module/datum_entries.dm
Labels: Config, Administration

#7059 [PORT] Updated Pixelshifting
  talestation_modules/code/pixelshift_module/pixel_shift.dm
  talestation_modules/code/pixelshift_module/pixel_shift_component.dm
  tgstation.dme
Labels: Removal, Port, Refactor

#7192 (Pubby & Lima) Cargo fixes and tweaks
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix, Feature, Good First PR

#7276 [MANUAL MIRROR] Removes armor bloat from sec lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/wardrobes.dm
Labels: Balance, Manual Mirror

#7278 [MANUAL MIRROR] fixes kinesis not actually immobilizing or blocking hands of grabbed mobs
  code/modules/mod/modules/module_kinesis.dm
Labels: Fix, Manual Mirror

#7279 [MANUAL MIRROR] The set gradients style and color procs early return if the new style/color is the same
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Manual Mirror

#7280 [MANUAL MIRROR] Setting a few things straight with embedding and caseless ammo.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/caseless.dm
  code/datums/elements/embed.dm
  code/game/objects/items/robot/items/food.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/projectile/bullets/foam_dart.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Fix, Balance, Quality of Life, Manual Mirror

#7518 [REMIRROR] Use typepaths for the quirk blacklist
  code/controllers/subsystem/processing/quirks.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  talestation_modules/code/carbon_module/quirks/_quirk_blacklist.dm
Labels: Fix

#7531 [MANUAL MIRROR] Include temporary library for getting sleeping procs
  .github/workflows/run_integration_tests.yml
  .gitignore
  code/__HELPERS/byond_status.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/byond_status.dm
  libbyond_sleeping_procs.so
  tgstation.dme
Labels: GitHub, Manual Mirror

#7532 [REMIRROR] Reworks how AI tracking is handled & reorganizes it
  code/__DEFINES/dcs/signals/signals_camera.dm
  code/__HELPERS/cameras.dm
  code/_onclick/ai.dm
  code/_onclick/hud/ai.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/trackable.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgstation.dme
Labels: Refactor

#7533 [REMIRROR] Goldgrub basic
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  code/__DEFINES/ai/monsters.dm
  code/datums/components/ai_listen_to_weather.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/objects/effects/spawners/random/lavaland_mobs.dm
  code/game/objects/structures/spawner.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_abilities.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/77733_goldgrub.txt
Labels: Map Edit, Sprites, Feature, Tools, Refactor

#7541 [REMIRROR] Fixes a bunch of callbacks that were being qdeleted, and code cleanup
  code/__HELPERS/path.dm
  code/_onclick/hud/radial_persistent.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/ai_retaliate_advanced.dm
  code/datums/components/basic_mob_attack_telegraph.dm
  code/datums/components/bullet_intercepting.dm
  code/datums/components/butchering.dm
  code/datums/components/combo_attacks.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/egg_layer.dm
  code/datums/components/food/golem_food.dm
  code/datums/components/growth_and_differentiation.dm
  code/datums/components/interaction_booby_trap.dm
  code/datums/components/jetpack.dm
  code/datums/components/keep_me_secure.dm
  code/datums/components/lock_on_cursor.dm
  code/datums/components/nuclear_bomb_operator.dm
  code/datums/components/on_hit_effect.dm
  code/datums/components/puzzgrid.dm
  code/datums/components/reagent_refiller.dm
  code/datums/components/reflection.dm
  code/datums/components/religious_tool.dm
  code/datums/components/rotation.dm
  code/datums/components/sitcomlaughter.dm
  code/datums/components/slippery.dm
  code/datums/components/squashable.dm
  code/datums/components/subtype_picker.dm
  code/datums/components/supermatter_crystal.dm
  code/datums/components/swabbing.dm
  code/datums/components/takes_reagent_appearance.dm
  code/datums/components/tameable.dm
  code/datums/components/thermite.dm
  code/datums/components/toggle_attached_clothing.dm
  code/datums/components/twohanded.dm
  code/datums/components/udder.dm
  code/datums/forced_movement.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/antagonists/heretic/status_effects/ghoul.dm
  code/modules/escape_menu/home_page.dm
  code/modules/escape_menu/leave_body.dm
  code/modules/mod/mod_link.dm
Labels: Refactor

#7551 [REMIRROR] Fixes a typo
  code/__DEFINES/dcs/signals/signals_material_container.dm
  code/datums/components/material/material_container.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/recycler.dm
  code/modules/mining/machine_silo.dm
Labels: Code Improvement

#7554 [MANUAL MIRRORR] Morgue dead body placer guarantees 1 human to dissect if non-human cadaver config is enabled. Morgues spawn with 1 additional body (except on Birdboat).
  _maps/map_files/Birdshot/birdshot.dmm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: Map Edit, Balance

#7555 [MANUAL MIRROR] Fixes issue where role banned players can still play roles they're banned from.
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/unit_tests/emoting.dm
Labels: Fix, Manual Mirror

#7556 [MANUAL MIRROR] [NO GBP]Refactors how sheets are ejected from mat container
  code/datums/components/material/material_container.dm
  code/game/machinery/recycler.dm
Labels: Refactor, Manual Mirror

#7557 [MANUAL MIRROR] Added sounds for unlocking achievements.
  code/__DEFINES/achievements.dm
  code/_globalvars/lists/achievements.dm
  code/datums/achievements/_awards.dm
  code/modules/client/preferences/sounds.dm
  sound/effects/beeps_jingle.ogg
  sound/effects/glockenspiel_ping.ogg
  sound/effects/tada_fanfare.ogg
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Sound, Manual Mirror

#7559 [MDB IGNORE] Map Reset 8/29
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Map Reset

#7560 [IDB IGNORE] Sprite Reset 8/29
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  icons/effects/mapping_helpers.dmi
  icons/mob/clothing/head/hats.dmi
  icons/mob/clothing/head/winterhood.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/suits/wintercoat.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/human/species/misc/digitigrade.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/head/hats.dmi
  icons/obj/clothing/head/winterhood.dmi
  icons/obj/clothing/suits/jacket.dmi
  icons/obj/clothing/suits/wintercoat.dmi
  icons/obj/clothing/under/cargo.dmi
  icons/obj/device.dmi
  icons/obj/drinks/mixed_drinks.dmi
  icons/obj/machines/computer.dmi
  icons/obj/mining.dmi
  icons/obj/storage/box.dmi
Labels: Sprites, Icon Reset

#7565 [MIRROR] Restore photophobia, remove flash sensitivity on quirk removal
  code/datums/quirks/negative_quirks/negative_quirks.dm
Labels: Fix, Upstream Mirror
