Repository TaleStation/TaleStation, pull requests merged in 2023-05, with the labels that each got.

#5009 More new lore stuff: Changing the Captain, HoP, CE and CMO title names
  code/__DEFINES/jobs.dm
  code/__HELPERS/priority_announce.dm
  code/___MODULAR_DEFINES/defines.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/charter.dm
  code/modules/antagonists/traitor/objectives/sleeper_protocol.dm
  code/modules/antagonists/wizard/grand_ritual/grand_ritual_finale.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/simple_animal/revenant.dm
  talestation_modules/code/fluff_module/jobs/overrides/_command_outfits.dm
  talestation_modules/code/fluff_module/jobs/overrides/_command_titles.dm
  talestation_modules/code/fluff_module/jobs/overrides/captain.dm
  talestation_modules/code/fluff_module/jobs/overrides/chief_engineer.dm
  talestation_modules/code/fluff_module/jobs/overrides/chief_medical_officer.dm
  talestation_modules/code/fluff_module/jobs/overrides/head_of_personnel.dm
  talestation_modules/code/fluff_module/unique_examine_items.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Removal, Grammar and Formatting

#5599 [MDB IGNORE] Map Reset
  _maps/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/JollyStation_Map_Parts/specific_map_parts.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
Labels: Map Edit, Map Reset

#5601 [MANUAL MIRROR] Golems can now redeem points from their ORM
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/mining/machine_redemption.dm
Labels: Fix, Manual Mirror

#5626 Fixes spare codes not appearing
  code/controllers/subsystem/job.dm
  talestation_modules/code/fluff_module/jobs/overrides/captain.dm
Labels: Fix

#5625 Adds our stuff to KiloStation
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit, Feature

#5633 Replaces the locker spawners for BO and AP on Lima and Pubby
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#5649 Minor fixes to Kilo
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit, Fix

#5628 Pain now throws screen alerts
  code/___MODULAR_DEFINES/defines.dm
  talestation_modules/code/pain_module/pain.dm
  talestation_modules/code/pain_module/pain_status_effects/alerts.dm
  talestation_modules/icons/pain/alerts.dmi
  tgstation.dme
Labels: Quality of Life

#5652 Makes Flavor Text stuff config related
  code/___MODULAR_DEFINES/defines.dm
  code/_onclick/hud/new_player.dm
  config/talestation_config.txt
  talestation_modules/code/config_module/datum_entries.dm
Labels: Feature, Config, Config Update

#5659 Fixes CI + Lima fix
  _maps/map_files/LimaStation/LimaStation.dmm
  code/modules/unit_tests/required_map_items.dm
Labels: Map Edit, Fix

#5701 Fix resource pod runtime
  talestation_modules/code/events_module/resource_drift/resource_pods.dm
Labels: Fix

#5703 Plant and xeno analysers can be placed on tables again
  talestation_modules/code/xenobotany_module/equipment/hydroitemdefines.dm
Labels: Fix

#5665 Flavor text no longer becomes obscure if something covering your face wouldn't obscure it logically
  code/modules/mob/living/carbon/human/examine.dm
  talestation_modules/code/clothing_module/clothing.dm
  talestation_modules/code/clothing_module/face/masks.dm
  talestation_modules/code/flavor_module/examine_tgui.dm
  tgstation.dme
Labels: Quality of Life

#5710 Guts some archaic flavor text code
  code/_onclick/hud/new_player.dm
  code/modules/mob/living/silicon/robot/examine.dm
  talestation_modules/code/flavor_module/examine.dm
  talestation_modules/code/flavor_module/examine_tgui.dm
  talestation_modules/code/flavor_module/flavor_text.dm
  talestation_modules/code/flavor_module/human.dm
  talestation_modules/code/flavor_module/human_helpers.dm
  talestation_modules/code/prefs_module/multiline_preferences.dm
  tgstation.dme
Labels: Removal

#5711 Flavor records are readable with their respective huds (take 2)
  code/___MODULAR_DEFINES/defines.dm
  code/datums/records/manifest.dm
  code/datums/records/record.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  talestation_modules/code/flavor_module/flavor_text.dm
Labels: Fix

#5715 [MANUAL MIRROR] temperature-proofs ghost basic mobs
  code/modules/mob/living/basic/space_fauna/ghost.dm
Labels: Fix, Manual Mirror

#5714 Replaces human voice SFX
  talestation_modules/code/carbon_module/say_sounds/carbon_species/species.dm
  talestation_modules/code/carbon_module/say_sounds/living.dm
  talestation_modules/sound/voice/speak_1.ogg
  talestation_modules/sound/voice/speak_1_ask.ogg
  talestation_modules/sound/voice/speak_1_exclaim.ogg
  talestation_modules/sound/voice/speak_2.ogg
  talestation_modules/sound/voice/speak_2_ask.ogg
  talestation_modules/sound/voice/speak_2_exclaim.ogg
  talestation_modules/sound/voice/speak_3.ogg
  talestation_modules/sound/voice/speak_3_ask.ogg
  talestation_modules/sound/voice/speak_3_exclaim.ogg
  talestation_modules/sound/voice/speak_4.ogg
  talestation_modules/sound/voice/speak_4_ask.ogg
  talestation_modules/sound/voice/speak_4_exclaim.ogg
Labels: Sound

#5716 [MANUAL MIRROR] Fix SHOULD_NOT_SLEEP hit in highlander init
  code/modules/admin/verbs/highlander_datum.dm
  code/modules/mob/mob_transformation_simple.dm
Labels: Manual Mirror

#5717 [MANUAL MIRROR] Sets UNIQUE_RENAME max description length to 280, up from 140
  code/modules/paperwork/pen.dm
Labels: Feature, Manual Mirror

#5718 [MANUAL MIRROR] The ghost verb no longer tries to succumb first if you are conscious
  code/modules/mob/dead/observer/observer.dm
Labels: Quality of Life, Manual Mirror

#5719 [MANUAL MIRROR] Fixes magic eyepatch spell casting
  code/modules/spells/spell.dm
Labels: Fix, Manual Mirror

#5721 [MANUAL MIRROR] Saltpetre in NutriMax contraband pool
  code/modules/vending/nutrimax.dm
Labels: Balance, Manual Mirror

#5722 [MANUAL MIRROR] Minor updates to the Occupational Corruption Device
  code/game/objects/items/devices/ocd.dm
  code/modules/uplink/uplink_items/job.dm
  tgstation.dme
Labels: Balance, Manual Mirror

#5723 [MANUAL MIRROR] Outfit manager now searches more thoroughly for the user's ID
  code/datums/outfit.dm
Labels: Fix, Manual Mirror

#5725 [MANUAL MIRROR] Fixes AI's trying to light up cameras in areas with no cameras
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix, Manual Mirror

#5763 [MANUAL MIRROR] Removes random ass package-lock.json
  package-lock.json
Labels: Manual Mirror

#5764 [MANUAL MIRROR] Mortidrobe Restocks are now in Medical Wardrobe Supply Crates
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/vending_restock.dm
Labels: Fix, Grammar and Formatting, Manual Mirror

#5765 [MANUAL MIRROR] Fix SHOULD_NOT_SLEEP hit in dna_melt status_effect
  code/datums/status_effects/debuffs/debuffs.dm
Labels: Manual Mirror

#5766 [MANUAL MIRROR] Makes stable bluyespace anomaloes only teleport on bump
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
Labels: Quality of Life, Manual Mirror

#5767 [MANUAL MIRROR] Mildly buffs Active Sonar module
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mod/modules/modules_security.dm
Labels: Balance, Manual Mirror

#5768 [MANAUAL MIRROR] Fixes exploration drones discarding loot when there was 1 space left
  code/modules/explorer_drone/exodrone.dm
Labels: Fix

#5769 [MANUAL MIRROR] Frees free golems
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
Labels: Fix, Manual Mirror

#5770 [MANUAL MIRROR] Fix SHOULD_NOT_SLEEP hit in airlock wires on_cut()
  code/datums/wires/airlock.dm
Labels: Manual Mirror

#5851 Fixes `image` and `sound` CL entries
  tgui/packages/tgui/interfaces/Changelog.js
Labels: Fix

#5921 [MDB IGNORE] Map Reset 5/23
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  _maps/map_files/CTF/cruiser.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_bballhooper.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/emergency_monastery.dmm
Labels: Map Edit, Map Reset

#5972 [MANUAL MIRROR] Update emoji remover workflow for node16
  .github/workflows/pr_emoji.yml
Labels: GitHub, Manual Mirror

#5973 [MANUAL MIRROR] Removes +x from files that shouldn't have it
  auxlua.dll
  code/modules/surgery/organs/liver.dm
  html/font-awesome/css/all.min.css
Labels: Manual Mirror

#5974 [MANUAL MIRROR] Test tubes and racks
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/medkit.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/mod/mod_theme.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  icons/obj/medical/chemical.dmi
  icons/obj/reagentfillings.dmi
  tgui/packages/tgui/interfaces/ChemMaster.js
Labels: Feature, Balance, Manual Mirror

#5979 [MANUAL MIRROR] ezdb - A one click script to quickly setting up a development database
  .github/CONTRIBUTING.md
  .github/guides/EZDB.md
  .gitignore
  SQL/database_changelog.md
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/dbconfig.dm
  code/controllers/subsystem/dbcore.dm
  tools/ezdb/__main__.py
  tools/ezdb/ezdb.bat
  tools/ezdb/ezdb/__init__.py
  tools/ezdb/ezdb/changes.py
  tools/ezdb/ezdb/config.py
  tools/ezdb/ezdb/mysql.py
  tools/ezdb/ezdb/paths.py
  tools/ezdb/steps/__init__.py
  tools/ezdb/steps/download_mariadb.py
  tools/ezdb/steps/install_database.py
  tools/ezdb/steps/install_initial_schema.py
  tools/ezdb/steps/step.py
  tools/ezdb/steps/update_schema.py
  tools/requirements.txt
Labels: GitHub, Tools, Manual Mirror

#5980 [MANUAL MIRROR] Fix TTS volume offset not working
  code/controllers/subsystem/tts.dm
Labels: Fix, Manual Mirror

#5981 [MANUAL MIRROR] Confine Elevator Music to Elevators
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/sound.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/music.dm
  code/modules/client/preferences/sounds.dm
  code/modules/industrial_lift/elevator/elevator_music_zone.dm
  code/modules/industrial_lift/elevator/elevator_panel.dm
  sound/ambience/music/elevator/elevator-01.ogg
  sound/ambience/music/elevator/elevator-02.ogg
  sound/ambience/music/elevator/elevator-03.ogg
  sound/ambience/music/elevator/elevator-04.ogg
  sound/ambience/music/elevator/elevator-05.ogg
  sound/ambience/music/elevator/elevator-06.ogg
  sound/ambience/music/elevator/elevator-07.ogg
  sound/ambience/music/elevator/elevator-08.ogg
  sound/ambience/music/elevator/robocop-short.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Map Edit, Fix, Feature, Manual Mirror

#5982 [MANUAL MIRROR] Fixed a vulnerability introduced by the Request Music PR
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/request_internet_sound.dm
Labels: Manual Mirror

#5983 [MANUAL MIRROR] Fixes moveloop shit
  code/controllers/subsystem/movement/movement_types.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/robots.dm
Labels: Fix, Manual Mirror

#5985 [MANUAL MIRROR] Makes virus food a hot reaction instead of cold
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Fix, Manual Mirror

#5986 [MANUAL MIRROR] Rubber duck now quacks, not honks
  code/game/objects/structures/watercloset.dm
Labels: Sound, Manual Mirror

#5987 [MANUAL MIRROR] Weapon magazine ejection sound implementation
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix, Manual Mirror

#5988 [MANUAL MIRROR] Adjust objects to tabletop when wrenched
  code/game/machinery/_machinery.dm
  code/game/objects/objs.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/library/lib_machines.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Quality of Life, Refactor, Manual Mirror

#5989 [MANUAL MIRROR] fixes soap suicide
  code/game/objects/items/clown_items.dm
Labels: Fix, Manual Mirror

#5992 [MANUAL MIRROR] Adds Ethereal Drinks
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/drinks/mixed_drinks.dmi
Labels: Sprites, Feature, Quality of Life, Manual Mirror

#5984 [MANUAL MIRROR] Fixes a spelling mistake on northstar I made 1 year ago.
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Edit, Grammar and Formatting, Manual Mirror

#5990 [MANUAL MIRROR] Makes warehouses have lights turned off from roundstart. Also adds mapping helper for turning off lightswitch
  _maps/RandomZLevels/TheBeach.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Labels: Map Edit, Fix, Feature, Manual Mirror

#5991 [MANUAL MIRROR] New air alarm sprite take two
  code/game/objects/items/rcd/RPD.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
  icons/obj/monitors.dmi
  talestation_modules/code/aesthetics_module/general_overrides/air_alarm.dm
  talestation_modules/icons/objects/air_alarm.dmi
  tgstation.dme
Labels: Sprites, Fix, Manual Mirror

#6009 [MANUAL MIRROR] Visual alert for IV drip
  code/game/machinery/iv_drip.dm
  icons/hud/screen_alert.dmi
Labels: Quality of Life, Manual Mirror

#6008 [MANUAL MIRROR] Makes speed setting affect disposals outlet range and alters emag behavior
  code/modules/recycling/disposal/outlet.dm
Labels: Feature, Manual Mirror

#6006 [MANUAL MIRROR] Makes gasses use defines
  code/__DEFINES/atmospherics/atmos_gasses.dm
  code/__DEFINES/atmospherics/atmos_mapping_helpers.dm
  code/__HELPERS/spatial_info.dm
  code/datums/components/combustible_flooder.dm
  code/game/machinery/computer/atmos_computers/__identifiers.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/grenades/atmos_grenades.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/floor/iron_floor.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/ice.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/abductor/equipment/glands/plasma.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/clothing/under/accessories.dm
  code/modules/events/aurora_caelus.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/holodeck/turfs.dm
  code/modules/mapfluff/ruins/spaceruin_code/atmos_asteroid.dm
  code/modules/mob/living/basic/tree.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Manual Mirror

#5993 [MANUAL MIRROR] Fix library private study area on North Star
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Edit, Fix, Manual Mirror

#6034 Bubblegum no longer causes flavortext to brick itself
  talestation_modules/code/clothing_module/clothing.dm
Labels: Fix

#6037 LOOC cannot be used by observers anymore (unless they're an admin)
  talestation_modules/code/looc_module/looc.dm
Labels: Fix, Feature

#6039 Fixes BO/AP lockers missing a back door sprite
  talestation_modules/icons/objects/locker.dmi
Labels: Fix

#6045 Site Directors have modular defines, and said defines can be accessed via the Asset Clerks console
  code/__DEFINES/access.dm
Labels: Fix
