Repository TaleStation/TaleStation, pull requests merged in 2023-03, with the labels that each got.

#4815 [MANUAL MIRROR] Disease Outbreak retries on event setup failure [NO GBP]
  code/__HELPERS/logging/virus.dm
  code/datums/diseases/advance/advance.dm
  code/modules/events/disease_outbreak.dm
Labels: Fix, Administration, Balance

#4816 [MANUAL MIRROR ] Refactors admin event setup (again)
  code/modules/admin/force_event.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/events/_event.dm
  code/modules/events/_event_admin_setup.dm
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/anomaly/anomaly_dimensional.dm
  code/modules/events/anomaly/anomaly_ectoplasm.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/carp_migration.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/false_alarm.dm
  code/modules/events/heart_attack.dm
  code/modules/events/immovable_rod/immovable_rod_event.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/sandstorm.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/stray_cargo.dm
  code/modules/events/stray_meteor.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/events/wizard/madness.dm
  code/modules/events/wizard/magicarp.dm
Labels: Fix, Administration, Refactor

#4817 [MANUAL MIRROR] Remove NTNet from doors (saves 0.2s of init) -- Fixes windoors not working with remotes, and balloons them
  code/__DEFINES/networks.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/control_wand.dm
  code/modules/unit_tests/ntnetwork_tests.dm
Labels: Fix, Quality of Life

#4821 Circuits are now usable
  tgui/packages/tgui/interfaces/IntegratedCircuit.js
Labels: Fix

#4838 Revert "[MIRROR] [MDB IGNORE] [NO GBP] fixes typo in PR template"
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Upstream Mirror

#4849 Cleans up wall mounts and Issues
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit, Fix, Good First PR

#4852 Implements the new Tajaran lore into code
  talestation_modules/code/fluff_module/holidays/tajaran_holidays.dm
  talestation_modules/code/prefs_module/languages.dm
  talestation_modules/code/species_module/languages/language_holder.dm
  talestation_modules/code/species_module/languages/tajaranese.dm
  talestation_modules/code/species_module/tajaran/tajaran.dm
  talestation_modules/code/species_module/tajaran/tajaran_organs.dm
  talestation_modules/code/species_module/tajaran/tajaran_quirks.dm
  tgstation.dme
Labels: Feature

#4864 [MIRROR] Fixes a Critical Spelling Issue
  code/datums/mood_events/generic_positive_events.dm
Labels: Grammar and Formatting, Upstream Mirror

#4913 Fixes round times
  code/game/world.dm
Labels: Fix

#4917 Removes headshots pref options, temporarily
  talestation_modules/code/flavor_module/examine_tgui.dm
  talestation_modules/code/flavor_module/flavor_text.dm
  talestation_modules/code/prefs_module/headshot.dm
  tgui/packages/tgui/interfaces/ExaminePanel.js
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_multiline_text.tsx
Labels: Removal

#4921 [MANUAL MIRROR] Dna vault refactor
  code/game/objects/items/dna_probe.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/vault_mutation.dm
  tgstation.dme
Labels: Quality of Life, Refactor

#4922 [MANUAL MIRROR] VV outfits now ignore cached_ref
  code/modules/clothing/outfits/vv_outfit.dm
Labels: Fix

#4926 More fax QoL and stuff
  talestation_modules/code/bureacuracy_module/fax_machine.dm
Labels: Grammar and Formatting, Quality of Life

#4826 Modularizes out some defines to a modular non-modular file
  code/__DEFINES/DNA.dm
  code/__DEFINES/access.dm
  code/__DEFINES/chat.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/say.dm
  code/__DEFINES/speech_channels.dm
  code/___MODULAR_DEFINES/defines.dm
  code/___MODULAR_DEFINES/pain_defines.dm
  tgstation.dme
Labels: Code Improvement

#4925 Pain chems are synthizable again
  talestation_modules/code/chemistry_module/reagents/pain_killers.dm
  talestation_modules/code/chemistry_module/reagents/painkiller_reactions.dm
  tgstation.dme
Labels: Fix

#4979 Removes the RD Robes
  talestation_modules/code/clothing_module/suits/labcoat.dm
  talestation_modules/code/fluff_module/garment.dm
  talestation_modules/icons/mob/clothing/suit.dmi
  talestation_modules/icons/obj/clothing/suit.dmi
Labels: Removal

#4959 Attempts to get the DME validation lint to check talestation files
  talestation_modules/code/flavor_module/preferences.dm
  tools/validate_dme.py
Labels: Tools

#5000 [MANUAL MIRROR] [No GBP] Fixes unreachable check and improves code
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#4978 Changes the Heads of Staffs equipment slightly (CMO, HoS, RD, CE)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  talestation_modules/code/fluff_module/garment.dm
  talestation_modules/code/fluff_module/jobs/overrides/command.dm
  tgstation.dme
Labels: Feature

#5007 Unshits my shitcode (temporarily)
  code/modules/hydroponics/seed_extractor.dm
Labels: Fix

#5030 [MANUAL MIRROR] Tram signal process/destination improvements
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_3.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_3.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_2.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/servicecargolower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/servicecargolower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/servicecargolower_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_tram.dm
  code/__DEFINES/tram.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/industrial_lift/tram/tram_landmark.dm
  code/modules/industrial_lift/tram/tram_lift_master.dm
  code/modules/industrial_lift/tram/tram_machinery.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mob/living/navigation.dm
Labels: Map Edit, Code Improvement
