Repository TaleStation/TaleStation, pull requests merged in 2023-06, with the labels that each got.

#6059 Fixes CI, yet fucking again
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Edit

#6121 Map Reset 6/5
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Fix, Map Reset, Quality of Life

#6125 Adds Onule as a sprite maintainer
  .github/CODEOWNERS
Labels: GitHub

#6145 Adds MarkSuckerberg as a config Codeowner
  .github/CODEOWNERS
Labels: GitHub

#6155 Belt Screenshots
  code/modules/unit_tests/screenshots/screenshot_antag_icons_abductor.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changeling.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_stowawaychangeling.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
Labels: Sprites

#6219 [MANUAL MIRROR] Burner can be crafted from any open container
  code/datums/components/crafting/chemistry.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
Labels: Quality of Life, Manual Mirror

#6220 [MANUAL MIRROR] Autopopulate bank account ID when linking
  code/game/objects/items/cards_ids.dm
Labels: Quality of Life, Manual Mirror

#6223 Fixes CI lights to always be on
  talestation_modules/code/aesthetics_module/general_overrides/lightswitch.dm
Labels: Fix

#6221 Ports Skyrats updated conjoined consoles
  code/game/machinery/computer/_computer.dm
  talestation_modules/code/aesthetics_module/conjoined_computers/_computer.dm
  talestation_modules/code/aesthetics_module/conjoined_computers/connectable_component.dm
  talestation_modules/icons/machines/computer.dmi
  talestation_modules/icons/machines/connectors.dmi
  tgstation.dme
Labels: Sprites, Feature, Port

#6239 Adds back missing blood multiplier for NuLizards
  code/modules/mob/living/blood.dm
Labels: Fix

#6240 Fixes the 515 test once and for all
  talestation_modules/code/species_module/lizard/lizard_organs.dm
Labels: Fix, Hard Deletes

#6248 [MANUAL MIRROR] Positronic brains now correctly reject ghosts who have used the suicide verb
  code/modules/mob/living/brain/posibrain.dm
Labels: Fix, Manual Mirror

#6249 [MANUAL MIRROR] Welding gas masks make the same sound "pwah" sound as welding hardhats
  code/modules/clothing/masks/gasmask.dm
Labels: Sound, Manual Mirror

#6251 [MANUAL MIRROR] Stops particle holders from appearing on context menu
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/particle_holder.dm
Labels: Manual Mirror

#6252 [MANUAL MIRROR] Head Revolutionary promotions now exclude Monkeys unless absolutely necessary... again
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix, Manual Mirror

#6253 [MANUAL MIRROR] Removes amount_list_postion from reagent containers, adds related unit test
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/chem_pack.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/misc.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/reagent_container_defaults.dm
Labels: Manual Mirror

#6254 [MANUAL MIRROR] Fix *wing runtimes
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix, Manual Mirror

#6255 [MANUAL MIRROR] Adds armour to divine archer hood
  code/modules/jobs/job_types/chaplain/chaplain_divine_archer.dm
Labels: Fix, Manual Mirror

#6256 [MANUAL MIRROR] Gives Fugitive Hunters credible IDs, access restricts the hunter shuttles, minor hunter shuttle improvements
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_psyker.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/hunter_space_cop.dmm
  code/__DEFINES/access.dm
  code/datums/id_trim/outfits.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/mapping/access_helpers.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
  icons/effects/mapping_helpers.dmi
Labels: Map Edit, Sprites, Balance, Code Improvement, Quality of Life, Manual Mirror

#6257 [MANUAL MIRROR] Acid particles (+unsorted acid/burning/thermite component changes)
  code/__DEFINES/atmospherics/atmos_core.dm
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/__DEFINES/sound.dm
  code/datums/components/acid.dm
  code/datums/components/burning.dm
  code/datums/components/thermite.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/effects/particles/acid.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/misc.dm
  code/game/objects/items.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/bodyparts/helpers.dm
  icons/effects/particles/acid.dmi
  icons/effects/particles/echo.dmi
  icons/effects/particles/generic.dmi
  tgstation.dme
Labels: Feature, Manual Mirror

#6258 [MANUAL MIRROR] Blacklist sansufentanyl from medical allergy quirk
  code/datums/quirks/negative_quirks.dm
Labels: Fix, Manual Mirror

#6259 [MANUAL MIRROR] Fixes ghosts being unable to click gateways to teleport through
  code/_onclick/observer.dm
  code/modules/awaymissions/gateway.dm
Labels: Fix, Manual Mirror

#6260 [MANUAL MIRROR] The Forbidden Tuna Can
  code/game/objects/effects/mines.dm
  icons/obj/weapons/grenade.dmi
Labels: Sprites, Manual Mirror

#6261 [MANUAL MIRROR] Fixes a possible dupe bug with looming
  code/datums/elements/loomable.dm
Labels: Fix, Manual Mirror

#6263 (Maybe) Fixes the golem limb issue
  talestation_modules/code/__DEFINES/pain_defines.dm
  talestation_modules/code/pain_module/pain_bodyparts.dm
Labels: Fix, Balance, Runtime

#6246 [MANUAL MIRROR] Ban overriding heat_capacity from maps
  tools/maplint/lints/heat_capacity.yaml
Labels: Tools, Manual Mirror

#6247 [MANUAL MIRROR] Unit tests now catch decals in walls/space
  _maps/RandomRuins/IceRuins/icemoon_underground_library.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/derelict7.dmm
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/space_ghost_restaurant.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/cargo_pubby.dmm
  _maps/templates/hilbertshotellore.dmm
  code/datums/actions/action.dm
  code/datums/actions/mobs/charge.dm
  code/datums/components/blood_walk.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/decals/remains.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/effects/spawners/random/random.dm
  code/game/objects/items/mail.dm
  code/game/objects/items/tcg/tcg_machines.dm
  code/game/objects/structures/mirror.dm
  code/game/turfs/open/river.dm
  code/modules/forensics/forensics_helpers.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/blood.dm
  code/modules/unit_tests/projectiles.dm
Labels: Map Edit, Fix, Manual Mirror

#6292 Registersignal**s** in pain, instead of registersignal
  talestation_modules/code/pain_module/pain_status_effects/pain_limp.dm
Labels: Fix

#6333 Humans are now humans again
  talestation_modules/code/species_module/human/human.dm
  talestation_modules/code/species_module/human/human_quirks.dm
  tgstation.dme
Labels: Removal

#6381 [MIRROR] Update runtime condenser for new logs
  tools/Runtime Condenser/Main.cpp
Labels: Tools, Upstream Mirror

#6425 Maybe fixes Pubby CI
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#6426 Sprite edits are now always tagged
  .github/labeler.yml
Labels: GitHub

#6427 Smoothing group fix
  talestation_modules/code/aesthetics_module/icon_overrides/walls.dm
  talestation_modules/code/aesthetics_module/icon_overrides/window.dm
Labels: Fix

#6400 Golem species pain modifier + (hopefully) fixes the stupid golem limb issue
  talestation_modules/code/pain_module/pain.dm
  talestation_modules/code/pain_module/pain_species.dm
Labels: Fix, Balance

#6511 [MANUAL MIRROR] Seed Extractor stores the extracted seeds(On Right Click) in the machine rather than spewing them out on the turf
  code/modules/hydroponics/seed_extractor.dm
Labels: Fix, Quality of Life, Manual Mirror
