Repository TaleStation/TaleStation, pull requests merged in 2023-07, with the labels that each got.

#6543 [MANAUAL MIRROR] Ensures that all Unit Tests are ticked in `_unit_tests.dm`
  .github/workflows/ci_suite.yml
  code/modules/unit_tests/_unit_tests.dm
  tools/ticked_file_enforcement/schemas/tgstation_dme.json
  tools/ticked_file_enforcement/schemas/unit_tests.json
  tools/ticked_file_enforcement/ticked_file_enforcement.py
  tools/validate_dme.py
Labels: GitHub, Tools

#6566 Fixes Linters
  tools/ticked_file_enforcement/schemas/tgstation_dme.json
  tools/ticked_file_enforcement/schemas/unit_tests.json
  tools/ticked_file_enforcement/ticked_file_enforcement.py
Labels: Tools

#6583 Map Reset 7/2
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit, Map Reset

#6599 Removes offending Goon sprite
  talestation_modules/code/aesthetics_module/icon_overrides/machines/misc.dm
  talestation_modules/icons/machines/surgery.dmi
Labels: Sprites

#6440 Medkits and ToxKits use the correct sprites now.
  talestation_modules/code/aesthetics_module/general_overrides/medkits.dm
  talestation_modules/icons/inhands/left/medkits.dmi
  talestation_modules/icons/inhands/right/medkits.dmi
Labels: Sprites, Fix

#6753 Changelog linters
  tools/ss13_genchangelog.py
Labels: Tools

#6783 [MANUAL MIRROR] Adds support for it/its pronouns
  code/__DEFINES/DNA.dm
  code/datums/dna.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences/gender.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/gender.ts
Labels: Feature, Manual Mirror

#6784 [MANUAL MIRROR] Adds a few things to drobes
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Manual Mirror

#6785 [MANUAL MIRROR] Fix invisible superscript characters in runechat [NO GBP]
  code/datums/chatmessage.dm
Labels: Fix, Manual Mirror

#6772 THE TAJARAENING 2023
  code/__DEFINES/DNA.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  talestation_modules/code/species_module/tajaran/tajaran.dm
  talestation_modules/code/species_module/tajaran/tajaran_accessories.dm
  talestation_modules/code/species_module/tajaran/tajaran_bodyparts.dm
  talestation_modules/code/species_module/tajaran/tajaran_pref.dm
  talestation_modules/icons/README.md
  talestation_modules/icons/species/tajaran/bodyparts.dmi
  talestation_modules/icons/species/tajaran/tajaran_ears.dmi
  talestation_modules/icons/species/tajaran/tajaran_markings.dmi
  talestation_modules/icons/species/tajaran/tajaran_snouts.dmi
  talestation_modules/icons/species/tajaran/tajaran_tail.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Sprites, Feature

#6855 Fixes Command fax machines having dupe examine defines
  talestation_modules/code/bureacuracy_module/fax_machine.dm
Labels: Fix

#6856 Tower caps and anything non-consumable can now be turned into seeds
  talestation_modules/code/xenobotany_module/produce/seeds.dm
Labels: Fix

#6861 [MANUAL MIRROR] Fixes Linters by Bumping PyYAML To Latest
  tools/requirements.txt
Labels: Tools, Manual Mirror

#6862 [MANUAL MIRROR] Optimization pass focused on foam code (saves about 30% of cpu usage I think)
  code/__DEFINES/subsystems.dm
  code/__HELPERS/reagents.dm
  code/controllers/subsystem/fluids.dm
  code/datums/elements/atmos_sensitive.dm
  code/datums/elements/forced_gravity.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
Labels: Manual Mirror

#6865 [MANUAL MIRROR] allows surgery caps to toggle hair visibility
  code/modules/clothing/head/jobs.dm
Labels: Feature, Manual Mirror

#6868 Languages are now more consistent
  talestation_modules/code/prefs_module/languages.dm
  talestation_modules/code/species_module/languages/language_holder.dm
  talestation_modules/code/species_module/languages/tajaranese.dm
  tgstation.dme
Labels: Fix

#6869 [MANUAL MIRROR] resprites most tanks
  icons/obj/canisters.dmi
Labels: Sprites, Manual Mirror

#6870 [MANUAL MIRROR] [GBP: NO UPDATE] Fixes a runtime from inserting the vorpal scythe
  code/modules/jobs/job_types/chaplain/chaplain_vorpal_scythe.dm
Labels: Fix, Manual Mirror

#6871 [MANUAL MIRROR] Fixes a likely copy paste error in the APC update_icon_state() proc
  code/modules/power/apc/apc_appearance.dm
Labels: Code Improvement, Manual Mirror

#6872 [MANUAL MIRROR] [GBP: NO UPDATE] Reduces the sniper scope range to something that allows smoother aiming
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix, Manual Mirror

#6873 [MANUAL MIRROR] Cleans up the lavaland exports to be properly consistent with their sources, readds missing items to their appropriate spots
  code/modules/cargo/exports/lavaland.dm
Labels: Fix, Manual Mirror

#6874 [MANUAL MIRROR] Wizard Spellbook QoL
  code/modules/antagonists/wizard/equipment/spellbook_entries/_entry.dm
  code/modules/antagonists/wizard/equipment/wizard_spellbook.dm
  tgui/packages/tgui/interfaces/Spellbook.js
  tgui/packages/tgui/interfaces/Spellbook.tsx
Labels: Quality of Life, Manual Mirror

#6876 [MANUAL MIRROR] Fix raciness in TGS test
  tools/tgs_test/Program.cs
Labels: Tools, Manual Mirror

#6877 [MANUAL MIRROR] makes the pinguin a basic animal
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/emergency_hugcage.dmm
  code/__DEFINES/ai.dm
  code/_globalvars/phobias.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/find_parent.dm
  code/datums/ai/basic_mobs/basic_subtrees/find_parent.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/game/objects/items/food/egg.dm
  code/modules/explorer_drone/loot.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/basic/farm_animals/chicken/chick.dm
  code/modules/mob/living/basic/pets/penguin.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/simple/penguins.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/76783_penguins.txt
Labels: Map Edit, Sprites, Feature, Tools, Refactor, Manual Mirror

#6882 [MANUAL MIRROR] Fixes mini-fridge name
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
Labels: Grammar and Formatting, Manual Mirror

#6883 [MANUAL MIRROR] Creates an ambience global list for icebox and adds 10 new tracks to the exterior (THANK YOU JOHN WILLARD!)
  code/__DEFINES/sound.dm
  code/_globalvars/lists/ambience.dm
  code/game/area/areas/mining.dm
  sound/ambience/ambiicemelody1.ogg
  sound/ambience/ambiicemelody2.ogg
  sound/ambience/ambiicemelody3.ogg
  sound/ambience/ambiicemelody4.ogg
  sound/ambience/ambiicesting1.ogg
  sound/ambience/ambiicesting2.ogg
  sound/ambience/ambiicesting3.ogg
  sound/ambience/ambiicesting4.ogg
  sound/ambience/ambiicesting5.ogg
  sound/ambience/ambiicetheme.ogg
Labels: Feature, Manual Mirror

#6885 Adds new lizard tail + body markings
  code/modules/mob/living/carbon/human/_species.dm
  talestation_modules/code/species_module/lizard/lizard_accessories.dm
  talestation_modules/code/species_module/lizard/lizard_markings.dm
  talestation_modules/icons/species/lizard/lizard_markings.dmi
  talestation_modules/icons/species/lizard/lizard_tails.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Sprites, Feature

#6926 [MANUAL MIRROR] fixes some weird shading on the plasma tank sprite
  icons/obj/canisters.dmi
Labels: Sprites, Manual Mirror

#6929 Rips out the code for job exp play times
  talestation_modules/code/jobs_module/asset_protection/ap_define.dm
  talestation_modules/code/jobs_module/bridge_officer/bo_define.dm
  talestation_modules/code/jobs_module/exp_rep.dm
Labels: Removal

#6952 Kilo CI Fix
  _maps/shuttles/emergency_kilo.dmm
Labels: Map Edit, Fix

#6961 [RE-MIRROR] Optimizes rad nebula
  code/__DEFINES/alerts.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/radiation.dm
  code/datums/components/radioactive_exposure.dm
  code/datums/elements/radioactive.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/areas.dm
  icons/hud/screen_alert.dmi
  tgstation.dme
Labels: Sprites, Fix, Balance

#6964 Job Module Cleanup
  talestation_modules/code/clothing_module/ears/headsets.dm
  talestation_modules/code/jobs_module/antagonist_jobs/antag_trim.dm
  talestation_modules/code/jobs_module/asset_protection.dm
  talestation_modules/code/jobs_module/asset_protection/ap_trim.dm
  talestation_modules/code/jobs_module/bridge_officer.dm
  talestation_modules/code/jobs_module/bridge_officer/bo_trim.dm
  talestation_modules/code/jobs_module/encryption_keys.dm
  talestation_modules/code/jobs_module/heirloom_overrides.dm
  talestation_modules/code/jobs_module/job_trims.dm
  talestation_modules/code/jobs_module/locker_spawners.dm
  talestation_modules/code/jobs_module/pdas.dm
  talestation_modules/code/jobs_module/research_director/rd_heirloom.dm
  talestation_modules/code/jobs_module/research_director/rd_trim.dm
  talestation_modules/code/jobs_module/scientist/scientist_heirloom.dm
  talestation_modules/code/jobs_module/scientist/scientist_trim.dm
  talestation_modules/code/jobs_module/xenobiologist.dm
  talestation_modules/code/jobs_module/xenobiologist/xb_trim.dm
  tgstation.dme
Labels: Code Improvement

#6965 Renames our map command stuff
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix, Grammar and Formatting

#6966 [MANUAL MIRROR] Splits ballistic firearms "mag_type" into "accepted_magazine_type" and "spawn_magazine_type", fixing a few funny magazine bugs
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/structures/mystery_box.dm
  code/modules/antagonists/heretic/items/hunter_rifle.dm
  code/modules/capture_the_flag/ctf_equipment.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/religion/burdened/psyker.dm
Labels: Fix, Refactor, Manual Mirror

#6967 [MANUAL MIRROR] Hologram banners no longer give inspiration effects
  code/game/objects/items/religion.dm
Labels: Balance, Manual Mirror

#6969 [MANUAL MIRROR] Hulks cannot be aggressive grabbed by strong grabbers anymore
  code/modules/mob/living/living.dm
Labels: Fix, Manual Mirror

#6971 [MANUAL MIRROR] Check for surgery before wounds
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
Labels: Fix, Manual Mirror

#6972 [MANUAL MIRROR] Fixes emissives blockers being broken on mobs
  code/modules/mob/living/carbon/alien/adult/adult_update_icons.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Fix, Manual Mirror

#6973 [MANUAL MIRROR] Metastation APC wiring fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Fix, Manual Mirror

#6974 [MANUAL MIRROR] Mafia chaplain seance can no longer be used on living people
  code/modules/mafia/_defines.dm
  code/modules/mafia/abilities/abilities.dm
Labels: Fix, Manual Mirror

#6975 [MANUAL MIRROR] Fixes bluespace bodybag duping
  code/game/objects/items/bodybag.dm
Labels: Fix, Manual Mirror

#6976 [MANUAL MIRROR] gives the syndicate medical borg a bonesetter, blood filter, and bonegel so it can actually fix wounds
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Balance, Manual Mirror

#6991 [REMIRROR] The "Kidnap" progression traitor objective now displays the number of telecrystals awarded for a successful live kidnapping
  code/modules/antagonists/traitor/objectives/kidnapping.dm
Labels: Quality of Life

#6993 [REMIRROR] Converting crabs to basic mobs
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_2.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/whiteship_birdshot.dmm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/elements/sideway_movement.dm
  code/datums/memory/_memory.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/77109_simple_to_basic_crabs.txt
Labels: Map Edit, Fix, Tools, Refactor

#7027 [REMIRROR] Add leash component to pAIs that keeps them within range instead of directly teleporting them back, increases default range to max range
  code/__DEFINES/dcs/signals/signals_leash.dm
  code/__DEFINES/pai.dm
  code/datums/components/leash.dm
  code/modules/pai/card.dm
  code/modules/pai/pai.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/leash.dm
  tgstation.dme
Labels: Quality of Life

#7028 [REMIRROR] Adds a negative station trait: Vending products shortage.
  code/__DEFINES/traits.dm
  code/datums/station_traits/negative_traits.dm
  code/modules/vending/_vending.dm
Labels: Feature

#7029 [REMIRROR] Gives `flick_visual` `MOUSE_OPACITY_TRANSPARENT`
  code/__HELPERS/game.dm
Labels: Fix

#7030 Map Reset 7/28
  _maps/RandomRuins/SpaceRuins/DJstation/kitchen_3.dmm
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/mimesvsclowns.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/emergency_fish.dmm
  _maps/shuttles/emergency_kilo.dmm
Labels: Map Edit, Map Reset

#7056 Bilingual actually lets you speak your second language
  talestation_modules/code/prefs_module/languages.dm
Labels: Fix

#7058 [MANUAL MIRROR] Puts a cap to the amount of stickers that can be sticked to an atom.
  code/__DEFINES/traits.dm
  code/datums/components/attached_sticker.dm
  code/datums/elements/sticker.dm
Labels: Fix, Manual Mirror

#7060 Makes the pubby hop office less of a disaster
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Quality of Life, Good First PR

#7057 [MANUAL MIRROR] convert the bear to a basic mobster
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Basketball/soviet_bear.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/hunter_russian.dmm
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/climb_tree.dm
  code/datums/ai/basic_mobs/basic_subtrees/climb_tree.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/tree_climber.dm
  code/datums/memory/_memory.dm
  code/game/objects/items/bear_armor.dm
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  code/modules/events/vent_clog.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/mob/living/basic/space_fauna/bear/bear_ai_behavior.dm
  code/modules/mob/living/basic/space_fauna/bear/bear_ai_subtree.dm
  code/modules/mob/living/living.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/shuttle/special.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/77141_bears.txt
Labels: Map Edit, Feature, Tools, Refactor, Manual Mirror
