Repository TaleStation/TaleStation, pull requests merged in 2024-04, with the labels that each got.

#9801 Pubbystation TaleDecals
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Feature

#9800 Completely removes Felinid from code
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/phobias.dm
  code/datums/components/tackle.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/wounds/slash.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/external/_external_organ.dm
  config/game_options.txt
  talestation_modules/code/carbon_module/say_sounds/carbon_species/felinid.dm
  talestation_modules/code/chemistry_module/recipes/mutation_recipes.dm
  talestation_modules/code/prefs_module/languages.dm
  tgstation.dme
Labels: Feature, Removal, Config

#9806 Guts most species payday modifiers
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  talestation_modules/code/species_module/avians/avians.dm
  talestation_modules/code/species_module/skrell/skrell.dm
  talestation_modules/code/species_module/tajaran/tajaran.dm
Labels: Balance

#9808 General maintenance for ore box
  code/modules/mining/satchel_ore_box.dm
  tgui/packages/tgui/interfaces/OreBox.tsx
Labels: Code Improvement, Grammar and Formatting, Quality of Life

#9810 Comprehensive frame refactor to fix being unable to thwack frames with brute force to break them
  code/__DEFINES/construction/actions.dm
  code/__DEFINES/construction/structures.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/modules/research/stock_parts.dm
  code/modules/unit_tests/machine_disassembly.dm
Labels: Fix, Feature, Refactor

#9811 General maintenance for frames
  code/__DEFINES/construction/structures.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/machine_frame.dm
  tgstation.dme
Labels: Code Improvement, Quality of Life

#9812 Indestructible items are properly rejected by material containers
  code/datums/components/material/material_container.dm
Labels: Fix

#9813 Adds logging to SSore_generation on subsystem initialize
  code/__DEFINES/logging.dm
  code/__DEFINES/mining.dm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/ore_generation.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/game/turfs/closed/minerals.dm
  code/modules/logging/categories/log_category_misc.dm
Labels: Code Improvement

#9814 Makes the restricted number input user friendlier
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: Code Improvement, Quality of Life

#9815 Paintings update: Curators get a cut on patronage + zoom in/out buttons on UI
  code/controllers/subsystem/economy.dm
  code/modules/art/paintings.dm
  code/modules/economy/account.dm
  strings/tips.txt
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: Feature, Quality of Life

#9816 Fixes blocking movement being weird
  code/modules/keybindings/bindings_atom.dm
  code/modules/mob/mob_movement.dm
Labels: Fix

#9817 Alternate job titles (chef, department security) actually imprint this title onto your PDA
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/security_officer.dm
Labels: Fix

#9818 Item Blood Overlay Optimization
  code/datums/elements/decals/blood.dm
Labels: Refactor

#9819 virtual pets
  code/__DEFINES/ai/pets.dm
  code/__DEFINES/dcs/signals/signals_action.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/cleaner.dm
  code/datums/elements/basic_eating.dm
  code/datums/elements/cleaning.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_mobs.dm
  code/game/objects/items/food/sweets.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/basic/pets/orbie/orbie_abilities.dm
  code/modules/mob/living/basic/pets/orbie/orbie_ai.dm
  code/modules/mob/living/emote.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
  code/modules/photography/camera/camera.dm
  icons/mob/simple/pets.dmi
  icons/obj/food/food.dmi
  icons/ui_icons/virtualpet/pet_state.dmi
  sound/items/orbie_level_up.ogg
  sound/items/orbie_notification_sound.ogg
  sound/items/orbie_send_out.ogg
  sound/items/orbie_trick_learned.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosVirtualPet.tsx
Labels: Sprites, Feature

#9820 General maintenance for all things boulder related
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/controllers/subsystem/ore_generation.dm
  code/datums/wires/brm.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mining/boulder_processing/_boulder_processing.dm
  code/modules/mining/boulder_processing/beacon.dm
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  code/modules/mining/boulder_processing/brm.dm
  code/modules/mining/boulder_processing/refinery.dm
  icons/obj/machines/mining_machines.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/81358_brm.txt
Labels: Map Edit, Sprites, Fix, Tools, Code Improvement, Quality of Life, Refactor

#9821 Adds an 'auto-reel' line reel to the fishing tech node. Minor gameplay changes to fishing
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/game/objects/items.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/fishing.dmi
Labels: Sprites, Feature, Balance, Quality of Life

#9822 Overlay Lighting Color/Intensity Pass
  code/__DEFINES/lighting.dm
  code/__HELPERS/paths/path.dm
  code/datums/components/overlay_lighting.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/song_effects.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/effects/lighting.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/clothing/head/cakehat.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/basic/minebots/minebot.dm
  code/modules/mob/living/basic/space_fauna/ghost.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/mob.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_core.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/paperwork/pen.dm
  code/modules/photography/camera/camera.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/religion/festival/instrument_rites.dm
  code/modules/research/ordnance/doppler_array.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/screenshots/screenshot_high_luminosity_eyes_light_on.png
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/cars/vim.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/durand.dm
Labels: Feature

#9823 Air alarms display location/trigger information
  code/__DEFINES/atmospherics/atmos_machinery.dm
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/firealarm.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  tgui/packages/tgui/interfaces/AirAlarm.tsx
Labels: Quality of Life

#9824 [NO GBP] Thermomachine & multideck connector connections fixes
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
Labels: Fix

#9826 allows to reorder chat tabs & hides delete from main tab
  tgui/packages/tgui-panel/chat/ChatPageSettings.jsx
  tgui/packages/tgui-panel/chat/actions.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/model.js
  tgui/packages/tgui-panel/chat/reducer.js
Labels: Quality of Life

#9827 Creates a "busy" animation for players
  code/__HELPERS/mobs.dm
  code/datums/cogbar.dm
  code/game/machinery/fat_sucker.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mirror_walk.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/traitor/objectives/infect.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/chameleon/chameleon_scanner.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/effects/progressbar.dmi
  tgstation.dme
Labels: Sprites, Feature

#9830 Demodularizes the job EXP requirements
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  talestation_modules/code/jobs_module/exp_rep.dm
  tgstation.dme
Labels: Code Improvement
