Repository TaleStation/TaleStation, pull requests merged in 2024-08, with the labels that each got.

#9865 Removes duplicate extinguisher cabinet (LimaStation)
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map Edit, Fix

#9868 Avian Resprite 2024
  code/__DEFINES/DNA.dm
  code/__DEFINES/surgery.dm
  code/__HELPERS/global_lists.dm
  code/___MODULAR_DEFINES/defines.dm
  code/_globalvars/lists/mobs.dm
  code/datums/bodypart_overlays/simple_bodypart_overlay.dm
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/unit_tests/screenshot_humanoids.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_avian.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  talestation_modules/code/species_module/avians/avian_acessories.dm
  talestation_modules/code/species_module/avians/avian_bodyparts.dm
  talestation_modules/code/species_module/avians/avian_organs.dm
  talestation_modules/code/species_module/avians/avian_pref.dm
  talestation_modules/code/species_module/avians/avians.dm
  talestation_modules/icons/species/avians/avian_beaks.dmi
  talestation_modules/icons/species/avians/avian_crest.dmi
  talestation_modules/icons/species/avians/avian_eyes.dmi
  talestation_modules/icons/species/avians/avian_tails.dmi
  talestation_modules/icons/species/avians/avian_talons.dmi
  talestation_modules/icons/species/avians/bodyparts.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Sprites, Feature

#9869 Fixes the NT IRN App
  code/modules/modular_computers/file_system/programs/budgetordering.dm
Labels: Fix

#9871 Gives some canisters mapping icons
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/pipes_n_cables/canisters.dmi
Labels: Sprites

#9872 Quick CODEOWNERS adjustment
  .github/CODEOWNERS
Labels: GitHub

#9876 "piping_layer" variable lint, macro, and nuking
  _maps/RandomRuins/LavaRuins/lavaland_surface_phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/pipes/mapping.dm
  tools/maplint/lints/atmos_var_edits.yml
Labels: Map Edit, Tools, Code Improvement

#9877 Camera assembly and network changes; telescreen directionals
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/cameranets.dm
  code/__DEFINES/construction/structures.dm
  code/__HELPERS/global_lists.dm
  code/datums/wires/robot.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas/ai_monitored.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/camera_construction.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/computer/telescreen.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/structures/construction_console/construction_console.dm
  code/modules/antagonists/abductor/machinery/camera.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/asset_cache/assets/tcomms.dm
  code/modules/events/camerafailure.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  icons/obj/wallmounts.dmi
  tgstation.dme
  tools/maplint/lints/telescreen_varedits.yml
Labels: Map Edit, Sprites, Fix, Tools

#9880 Avians now caw
  talestation_modules/code/species_module/avians/avians.dm
  talestation_modules/sound/voice/avian.ogg
Labels: Sound

#9881 Updates Ethereals say sound
  talestation_modules/code/carbon_module/say_sounds/carbon_species/ethereal.dm
  talestation_modules/sound/voice/etheral.ogg
Labels: Sound, Removal
