Repository TaleStation/TaleStation, pull requests merged in 2024-01, with the labels that each got.

#9387 [REMIRROR] Increased odds of station traits a little. Introduced a "budget", so smaller traits only take half as much space.
  code/__DEFINES/station.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/processing/station.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
  config/game_options.txt
Labels: Config, Balance, Refactor

#9388 [REMIRROR] Hotfix for paper tgui crash
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: Fix

#9389 [REMIRROR] Correctly offsets bayonets on pipeguns
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix

#9424 Tweaks and fixes a resource cache goodie grate
  talestation_modules/code/events_module/resource_drift/crates.dm
Labels: Fix

#9545 Mapping Changes for Talestation Maps
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#9547 fixes again
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix, Sound, Feature, Removal, Administration, Balance, Code Improvement, Grammar and Formatting, Quality of Life, Refactor, Server, Config Update
