Repository TaleStation/TaleStation, pull requests merged in 2024-02, with the labels that each got.

#9621 [REMIRROR] Cupcake Sprite Changes
  icons/obj/food/food.dmi
Labels: Sprites

#9640 Backports the Appendicits Survivor tweaks that were done on Nova
  talestation_modules/code/carbon_module/quirks/good.dm
Labels: Code Improvement

#9643 Species with "snouts" now have snouted masks
  talestation_modules/code/clothing_module/digi_clothing.dm
  talestation_modules/code/clothing_module/face/mask_greyscale.dm
  talestation_modules/code/clothing_module/face/masks.dm
  talestation_modules/code/fluff_module/greyscale/json_configs/greyscale_configs.dm
  talestation_modules/code/species_module/avians/avian_bodyparts.dm
  talestation_modules/code/species_module/lizard/lizard_bodyparts.dm
  talestation_modules/code/species_module/tajaran/tajaran_bodyparts.dm
  talestation_modules/icons/clothing/mask/mask_muzzled.dmi
  tgstation.dme
Labels: Sprites, Feature

#9696 [MANUAL MIRROR] General maintenance for cryo chamber
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  icons/obj/medical/cryogenics.dmi
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/Cryo.tsx
  tgui/packages/tgui/interfaces/PortableChemMixer.tsx
  tgui/packages/tgui/interfaces/common/BeakerDisplay.tsx
Labels: Sprites, Fix, Code Improvement, Quality of Life, Refactor, Manual Mirror

#9713 Connecting Pubby's Mining Dock APC to the grid
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#9740 [MANUAL MIRROR] Fixes high power consumption for lathes
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
Labels: Fix, Manual Mirror

#9723 Fax Machine touch ups and stuff
  talestation_modules/code/__DEFINES/fax_defines.dm
  talestation_modules/code/bureacuracy_module/fax_command.dm
  talestation_modules/code/bureacuracy_module/fax_machine.dm
  talestation_modules/code/bureacuracy_module/papers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/_FaxMachine.jsx
  tgui/packages/tgui/interfaces/_FaxMachineCommand.jsx
Labels: Fix, Administration, Code Improvement

#9797 Fixes runtime in maps.txt
  config/maps.txt
Labels: Config
